[2019-01-29 22:50] xkilian opened #1 "Feature list (from original PictureIt)"
Some of the features are now included in this version. Others are ideas and open issues (from the original) that I see are the minimum for having a usable and good graphical canvas type plugin panel. Relisted in order of importance.

**Basic usability**
- [x] Plugin compatibility with Grafana 5
- [x] Plugin canvas compatible with larger images
- [x] Links on sensors
- [x] Compatible with variables

[2019-02-01 01:01] JCP13 opened #2 "Getting error on panel "value-color mapping""
Hi,

Thank you for updating this much needed plugin.  After I've installed it the "value-color mapping" panel does not display anything. When I looked at the console I see this error:
angular.js:14700 DOMException: Failed to execute 'createElement' on 'Document': The tag name provided ('panel-editor-tab-bessler-pictureit-panelvalue-color mapping') is not a valid name.
    at HTMLDocument.createEle

[2019-02-06 08:18] TLMiot commented on #2
Hello,
I'm unable to replicate it, did you directly update it from the old version? Does your panel already have some data?

[2019-02-14 05:19] JCP13 commented on #2
Hi,

Thank you for your reply.  Yes, I directly update it from the old version. If that is the issue, what is the proper way to do a clean uninstall and re-install?

Thank you again.

[2019-02-14 07:34] TLMiot commented on #2
The best way would be to delete the old version panels before upgrading, then recreating them. This is because some settings were modified or completely deleted from the old version. Please try to delete and recreate your panel

[2019-03-09 01:19] JCP13 commented on #2
Hi, sorry for taking so long to get back you. I did as requested but still getting the same error. I restarted and rebooted a number of times and same error. Is there something that maybe caching this and causing the conflict?

angular.js:14700 DOMException: Failed to execute 'createElement' on 'Document': The tag name provided ('panel-editor-tab-bessler-pictureit-panelvalue-color mapping') is not

[2019-03-13 21:26] JCP13 commented on #1
Hi xkilian,

Any updates on the other six features? would love to take advantage of the Borderless sensors, Line sensors, and Show a metrics list on mouseover.

Thank you.

[2019-03-13 21:55] JCP13 commented on #2
Do you know which files you think has been deleted or overwritten? maybe I can manually update them.
Better yet can you provide a copy of your working version?

Thanks.

[2019-03-14 09:11] TLMiot commented on #2
All the files should be in *grafana-dir*/data/plugins/grafana-pictureit
Try reinstalling the old version, check if it works, if it does remove every pictureit panel, then delete the old one and install this version
Sadly I have no idea how to replicate your issue

[2019-03-15 03:14] xkilian commented on #1
I wish I had some news, I am not a developer. I just provided some context and suggestions for what would improve this plugin. Maybe re-spinning this whole plugin in react and renaming it would provide more momentum, and presenting it at GrafanaCon/Monitorama... Just thinking out loud. ;-)

[2019-03-18 09:28] TLMiot commented on #1
Hello!
You can now choose the sensor background color and set it to invisible for the borderless feature
Also a bit or restyle in the editor for grafana 6 support!

Please provide an example as I'm not sure what you mean

I'll see what I can do!

I'm not sure about this too and it seems a bit complex to do so maybe in the future

Do you mean the sensor text is provided by sone metric value?

Defin

[2019-03-18 10:48] TLMiot commented on #1
Is done, I got the code from the BoomTable plugin :)

[2019-03-29 13:19] xkilian commented on #1
Great update on the features. I especially love the fact that that you will now be able to have the plugin directly linked in the Grafana Plugin list.

I love Font Awesome. :-)

Yes, exactly, some datasources can return text as values or using labels directly or even dashboard variables. (Ex. Prometheus Label values, InfluxDB values, JSON values that return text, *SQL which return values as text.)

[2019-03-29 19:22] JCP13 commented on #2
I am truly at a lost hear and I am not sure what is causing this.

I've deleted the old Pictureit from the plugin folder (/var/lib/grafana/plugins) and replaced it with your current version pierosavi-imageit-panel. To my amazement, the same issue.

angular.js:14700 DOMException: Failed to execute 'createElement' on 'Document': The tag name provided ('panel-editor-tab-pierosavi-imageit-panelvalue-c

[2019-03-29 21:00] pierosavi commented on #2
The good news is that the bug is now fixed :)

The bad is that I'm not 100% sure why it happened and I don't know why it worked in grafana 6

I'll do a release called 0.0.2 for this and some performace improvements
I'm waiting for your feedback before closing this, just in case!

[2019-03-29 21:07] JCP13 commented on #2
I know, such a weird bug. It was driving me crazy. Ok, I will give it a try over the weekend.

Thank you so much for looking into this.

[2019-04-01 15:11] JCP13 commented on #2
Hi pierosavi,

Yes, it's working now. Thank you for fixing this bug. Please continue doing a wonderful job, this is a much-needed plugin.

Cheers,  ;)

[2019-04-01 15:12] #2 closed

[2019-04-02 06:04] JCP13 opened #4 "Value Mapping bug and feature that relates to the bug"
Hi TLMiot,

I have another issue, the good news it's a different one.

In the "Sensor" tab, I have set a background field to be transparent. On the "Color Mapping" tab, I have provided the Color Mapping Name and set it to red. In "Value Mapping Tab", I set the value to "=>80". When the value is 80 or over, the background sets to red. The issue is that if the value goes back to below 80 the backgro

[2019-04-02 08:51] pierosavi commented on #4
Fixed in 3b4b18d4cc43020261ce54a34d5349fce62fe040

for my purpose, I only want the "Font Color" to change.

I'll look on this later today or tomorrow

Overall the mapping feature needs a core rework as the original one had some serious problems, so if you have other qol improvements/features this is the best time to share :)

[2019-04-02 21:48] JCP13 commented on #4
Thank you pierosavi.

Since you asked, here is my list:

1)  "Value Mapping Tab": Select "Font Color" or "Background"  or both but able to set the color individually

2) "Value Mapping Tab": Set the "Font Color" or "Background" or both to blink

3) "Sensor Tab": Set font to bold

4) Better snap to grid or not use it at all. Just drag and drop the item and it stays where it is. No auto adjusting bu

[2019-04-03 06:33] pierosavi commented on #4
Thank for the feedback

1, 2, and 3 will be definitely be done in the next few days

The snapping on 4 is due to the browser decimal precision in the percentage offset of the sensor, it's like that so the browser doesn't have to recalculate the position in pixels every time, I'll try to find a better way in the future

5 is cool but it'll take a bit of time obviously

To be clear I'm still @TLMiot

[2019-04-03 17:23] JCP13 commented on #4
That is awesome!! I knew items 4 and 5 would be a major rework.

Thank you :)

[2019-04-04 18:05] JCP13 commented on #4
Hi TLMiot,

I have one more feature request.

6. "Sensor Tab": To be able to adjust the height and width of the objects on the "Sensor Tab" as well as on the image/canvas.

Thanks.

[2019-04-05 07:41] pierosavi commented on #4
@JCP13 Check out https://github.com/pierosavi/pierosavi-imageit-panel/commit/448b0ef971efe31ea59f901c783db706c0b00141

It will broke things for existing value color mappings, don't update it directly in production

[2019-04-05 18:32] JCP13 commented on #4
@TLMiot

That's ok for me because I have not setup color mapping yet.

[2019-04-06 12:54] xkilian commented on #4
5. Is an interesting idea. Please also consider the following implications:

- You may not want to always display all or any values at all but simply show a state (colour and description text)
- You may want to hide values not currently crossing a threshold (like status panel plugin)
- This has to be compatible with value mapping(text and emoji/font awesome) and thresholds

I admit I like very muc

[2019-04-06 12:58] xkilian commented on #1
Updated the feature request list:
Sensor text output (ability to output a label value and display it instead of displaying the metric) This is a feature that is possible with the single-stat plugin, which I find super useful to display things like software/api versions and other meta data)
This is one of those things that once you know exists you want everywhere! When I talk about label values, th

[2019-04-08 16:39] JCP13 commented on #4
@TLMiot, thank you again for your hard work. I will test your updates by the end of the week.

@xkilian, Good catch. Yes, I did think about these implications but thought it would be better to keep it simple for now. The coding can get complex and more thought would have to go into it. The Status Panel,  I will look into. Nice feedback!

[2019-04-10 18:09] JCP13 commented on #4
@TLMiot, I just started testing the fix for the "Color Mapping" tab and now color is not changing at all. I set the threshold value well below, still no color change.
example:
if "Value Color Mappings" =>40 (change to red)
The output value is 70 and no color change.

[2019-04-11 06:37] pierosavi commented on #4
Note that you have to set the color mapping on the new select on the sensor tab (on top)

![image](https://user-images.githubusercontent.com/15440183/55935761-ba96a380-5c34-11e9-832f-513d66aac444.png)

[2019-04-11 11:54] sharkyzz opened #5 "Metric isn't shown on map"
Hi Guys,

Great work! I really like to make use of this panel, because it would be very useful to monitor temperatures etc. in our datacenters. Unfortunately the metrics are not shown on the map itself. Am I doing something wrong ?

Here I defined the query to one of our temperature measurements in Influx

![Screenshot 2019-04-11 at 13 42 13](https://user-images.githubusercontent.com/1429655/55955

[2019-04-11 11:55] sharkyzz commented on #5
Btw, i'm using the latest grafana (6.1.3)

[2019-04-11 12:13] pierosavi commented on #5
That's correct :)
You need to check the "Render value" checkbox, everything else seems right

[2019-04-11 12:16] sharkyzz commented on #5
Oh haha, that simple. Thanks a lot! It works now. Going to test with it further now :)

[2019-04-11 12:16] #5 closed

[2019-04-11 15:02] JCP13 commented on #4
Strange, I am not seeing the new fields in the "Value Mapping Tab". Are the new updates on the master or the Dev branch?

[2019-04-11 15:16] JCP13 commented on #4
It looks like it's on the dev branch. I'll jump on this once I get a little downtime.

[2019-04-11 15:40] pierosavi commented on #4
It was on dev but I merged on master after my last comment :)

[2019-04-11 22:40] JCP13 commented on #4
ok, I updated Grafana to the latest and grabbed the lastest bits. The only issue that I see now is the "Value Mappings" it only giving me a checkbox.

![image](https://user-images.githubusercontent.com/1745045/55997525-a91ebd00-5c6f-11e9-94ca-cee041756329.png)

[2019-04-12 06:58] pierosavi commented on #4
It's empty because you have to add a value mapping below the sensor tab, before assigning to a sensor

[2019-04-12 21:36] JCP13 commented on #4
Ok, got and it looks good by the way.

Some issues that I found so far.
1) On the "Settings" tab you're no longer able to set Background Color as transparent using the UI

2) If you already have set the Background Color that is transparent before the update it works well but when setting it to blink value you see the borderline.

3) In general, I find the Color picker after you click to display it

[2019-04-13 08:29] sharkyzz opened #6 "How does value/color mapping work ?"
Hi,

Please see the screenshot below. I have only one sensor. What am I doing wrong ?

Thanks for your help!

![Screenshot 2019-04-13 at 10 26 12](https://user-images.githubusercontent.com/1429655/56076979-e5206200-5dd6-11e9-9792-d44de9ad2e04.png)

[2019-04-13 09:55] pierosavi commented on #6
Hello,
That's the old version, update to the last version on master for the new mapping feature

[2019-04-13 11:33] sharkyzz commented on #6
Did a checkout of master, but still doesn't seems to work. What am I doing wrong ?

![Screenshot 2019-04-13 at 13 32 35](https://user-images.githubusercontent.com/1429655/56079147-b1523600-5df0-11e9-8d58-c7806182c443.png)

[2019-04-14 09:31] sharkyzz commented on #6
that did it, thanks

[2019-04-14 09:31] #6 closed

[2019-04-14 09:35] sharkyzz opened #7 "Multiple range operators don't seem to work"
Hi,

I'm using the latest code, but multiple range operators don't seem to work. It doesn't take into account other range operators. See screenshots.

Thanks in advance for your help.

![Screenshot 2019-04-14 at 11 30 02](https://user-images.githubusercontent.com/1429655/56090980-431d7a00-5ea9-11e9-8fb1-11b55c5b75fc.png)
![Screenshot 2019-04-14 at 11 30 44](https://user-images.githubusercontent.co

[2019-04-14 09:39] pierosavi commented on #7
For multiple ranges it stops at the first one on the list that is actually true
So in your case on the sensor you should set High warking first, then High normal and then Low normal in this order :)

[2019-04-14 20:25] sharkyzz commented on #7
Yes, that did it. Thanks a lot!

[2019-04-14 20:25] #7 closed

[2019-04-15 21:27] JCP13 commented on #4
@TLMiot, I was able to work around the issues. Once I figured out the patterns that worked, I was able to move forward. Now, I have everything set up the way I want, and so far everything is working as expected.

A big kudos to you for taking over this plugin project and propelling it to the next level !!! 🥇 👍

[2019-04-16 05:25] pierosavi commented on #4
That's great! How did you fix n.4?

I'll close this issue next and add the features request on the main list

Also tag me at this account an not TLMiot from now on to create less confusion :)

[2019-04-17 04:47] JCP13 commented on #4
@pierosavi  got it, LOL.

I didn't fix it per se, just worked around it and it's too strange and convoluted to write out. I don't know if it's just me or other people are having the same issues.
So, not that I don't want to explain, it's just something that I would have to show you. Please let me know if that's something you'll like to do.

[2019-04-17 05:04] #4 closed

[2019-05-01 07:04] ajaywazir opened #8 "New Feature Rquest"
Hi
Is it possible to make font size/type  and border color and size configurable?

Ajay

[2019-05-01 07:07] ajaywazir opened #9 "New Feature Request -2"
Hi
Is it possible to add external link in iframe and external content to be overlaid on the image?

Ajay

[2019-05-02 13:05] pierosavi commented on #8
Yes, by modifying the size coefficient

Not yet

I actually removed the border completely, what use case do you need the border color for?

[2019-05-02 13:13] pierosavi commented on #9
I'm not sure I understand what you are asking for, Ajay

[2019-05-03 08:47] ajaywazir commented on #9
Hi Peirosavi,
Thanks for your response.
There is a grafana AJAX panel, which allows to display external content in a panel.  This is fixed and not flexible.
In your plugin, you are creating movable placeholders to display metrics. Can this placeholder display external content inside an Iframe?
I mean, can you enable the placeholder to display HTML text. We can write HTML, in the Grafana Panel Edit

[2019-05-03 14:09] pierosavi commented on #9
Thanks, I got it now
this could be useful, it would be a square with editable html and configurable width and height, I'll see what I can do in the next days

[2019-05-09 19:23] xkilian commented on #1
Any planned movement on the feature list?

[2019-05-27 18:40] m4rten opened #10 "How to use it ?"
Hi,

is there any tutorial how to add data to an picture ? do i need an additional plugin ? i dont know how to do it and didnt found any help.

[2019-05-28 10:45] pierosavi commented on #10
Hello,
you don't need any additional plugin
first you need to have a direct url to the image to use as background, then you need a data source to get data from.
You need to add a Sensor and connect the data source giving it the same alias name

Please let me know where it isn't clear

[2019-05-28 17:59] m4rten commented on #10
My Config:

Overview
https://s17.directupload.net/images/190528/jc9v4x7q.jpg
Metrics
https://s17.directupload.net/images/190528/byu6eoeu.png
Sensor
https://s17.directupload.net/images/190528/a7985aqa.png

ive pushed a numeric value to influxdb. it arrives
https://s17.directupload.net/images/190528/8sr39jmf.png

[2019-05-28 22:18] stulincoln opened #11 "Number format issue"
This is a great plugin and have found a lot of uses for it. One issue I have is that I can not drop the two decimal places when needed. Is there a way for format the number? I tried a cast in my query but it still shows '.00'

thanks

Stu

[2019-05-29 08:23] Satforst commented on #10
Hello,
I have also problems with the adding data to plugin.  Sensor and Value mappings I have set according the picture in attached screenshots. Value mappings are set to NAME column = 1, which 1 is data saved in column.
![Capture10](https://user-images.githubusercontent.com/33480055/58540782-58046180-81fa-11e9-82fb-1c9d7740af7c.PNG)
![Capture11](https://user-images.githubusercontent.com/33480055/

[2019-05-31 07:19] pierosavi commented on #10
@m4rten
You don't need to build the plugin as I always build it myself before pushing a release, but if you want you have to install grunt as global, then `npm i` and `grunt`

What I see you and @Satforst  are missing is checking the "Render Value" checkbox to see the value

[2019-05-31 07:41] Satforst commented on #10
@pierosavi When I check Render Value that show me only -NaN btw. I hope show only diffrent background without any value.

[2019-05-31 08:01] pierosavi commented on #10
@Satforst I think I got now what you are trying to do, unfortunately as of right now you can't consider multiple values in a sensor so, in this case, you would need to set two different sensor for each machine, one for ERROR and one for RUN, then give a color mapping each

[2019-05-31 08:40] Satforst commented on #10
@pierosavi The values will be always RUN or ERROR, never will be both values in 1 (I have in columns only 1 and 0 in dependies if machine running or is in the error).
Anyway I tried split machine on two sensor and still nothing.
Just for case:
From sql query I get Value Color Mappings and I take to Sensor any name then I add Value Mappings to sensor. Then shoud work fine everything, or is inthere

[2019-05-31 09:01] pierosavi commented on #10
If you can't have both values on 1 you can try this:

- only SELECT ONE of them (for example Error) in your query

- try to check "render value" until it shows either 0 or 1 on your sensor

- on the value mapping on the three fields set:

ERROR - = - 1 -> background color: red
OK - = - 0 -> background color: green

The first field is just the name of the mapping rule, not the field to consider, it

[2019-05-31 09:40] m4rten commented on #10
nice, now the values are shown ! Thanks 👍  :)

[2019-05-31 09:58] Satforst commented on #10
I tried get to query only one of them and still nothing.
Now I thinking if is it ok format query as a Time series instead of as a table?

[2019-05-31 10:22] pierosavi commented on #10
@Satforst I think you should try
I only use InfluxDB so I don't really know the best setup for your sql but by checking the Render Value box you can try changing things until you see 0 or 1 :)

[2019-05-31 13:26] pierosavi commented on #11
Hello, the only way to format it right now is directly on your query
I'll add it as a future feature but don't expect it soon
If you want to try implementing it feel free to make a pull request :)

[2019-05-31 15:38] stulincoln commented on #11
Thanks. It seems wven if i dont pass it in my query it still shows the .00.
I will try a few other things.

Thanks for responding.

Stu

On Fri, May 31, 2019, 6:26 AM pierosavi <notifications@github.com> wrote:

[2019-05-31 15:43] #11 closed

[2019-05-31 15:43] #8 closed

[2019-06-04 15:40] pierosavi commented on #10
@Satforst do you have any news?

[2019-06-05 04:54] Satforst commented on #10
Now I don´t have any news, but I would like to try install InfluxDB, get data from my mysql database to InfluxDB and show data in Grafana. After this I post here my experience with this test.

[2019-06-05 10:45] Satforst commented on #10
@pierosavi OK so I tested install InfluxDB, put some sample data to db then create ImageIT with this data and still nothing. I see data in explore mode and also in Inspector Query. But in sensor is still as a Value -NaN.
![InfluxDB01](https://user-images.githubusercontent.com/33480055/58950560-5e14b800-878f-11e9-9cc3-c58aed75a808.PNG)
![INfluxDB02](https://user-images.githubusercontent.com/3348005

[2019-06-05 12:12] pierosavi commented on #10
@Satforst You need to set an alias in the "ALIAS BY" metric field and put the SAME alias on the sensor Name field

[2019-06-05 13:31] Satforst commented on #10
@pierosavi I can`t believe it. It works!!!
Thank you some much for your willingness :)

[2019-06-05 13:32] #10 closed

[2019-06-06 13:26] MegaH01 opened #12 "Displaying NaN"
I have a simple influx query that returns a 6 digit integer.
Created a new dashboard using the plugin but all I see for a value is "NaN"

Any ideas what is wrong?

![image](https://user-images.githubusercontent.com/51447897/59036350-16e50080-883d-11e9-90c8-289a9c54cb54.png)

[2019-06-06 13:42] pierosavi commented on #12
You have to choose an unique name for the metric and write it in the ALIAS BY field and in the Sensor Name field
If this doesn't work try sending a screen of the Query Inspector output on the metric, hiding eventual private infos

[2019-06-06 14:05] MegaH01 opened #13 "Feature Request"
Requesting the plugin support setting a Unit type (Data Rate, temperature, Percentage, etc) like others do.

[2019-06-06 14:21] pierosavi commented on #13
You can already add it on the sensor tab on the Unit field

[2019-06-10 08:42] pierosavi commented on #12
@MegaH01 Is it fixed now?

[2019-06-11 13:31] MegaH01 commented on #12
Yes it's fixed.  Still like to be able to select a unit type like singlestat and have the value converted on the fly.  Not really useable now when I select an 100G interface and it displays 10+ digits long vs showing 90Gbps

That's how singlestat (and others) display the value when selecting the correct unit.

[2019-06-11 14:45] pierosavi commented on #12
I'll add it on the feature request list, I'll take a look at how singlestat makes it work!
For now you can modify the query to divide the value returned as a workaround for this specific case

[2019-06-11 14:47] pierosavi commented on #13
https://github.com/pierosavi/pierosavi-imageit-panel/issues/12#issuecomment-500841993

Closing this and adding it on features request

[2019-06-11 14:47] #13 closed

[2019-06-11 14:54] pierosavi commented on #1
@xkilian

I wanted to completely rewrite the plugin in React but the react module is not stable yet, I'll start implementing some of the easier features on the next days, starting with a bit of cleanup :)

[2019-06-17 10:23] digithermo opened #14 "Background image/panel not adaptive"
Hi,

I just realize that when I switch from my Mac screen to a big external screen and I am going to resize the Chrome windows, from big (ScreenShot_1) to small (ScreenShot_2), there is an issue with the resizing. I am not sure if it about the background picture (It seems to work to me) or about the panel.
The background picture it seems to adapt to the new size.

Viceversa, when I resize the Chro

[2019-06-17 10:28] digithermo commented on #14
Here when I resize the window from small to big. The bottom part of the background picture is cut off.

![ScreenShot_3](https://user-images.githubusercontent.com/37805258/59597928-49271580-90fb-11e9-973f-10444803eae8.png)

[2019-06-17 13:45] #12 closed

[2019-06-19 07:21] LPnave commented on #12
@pierosavi  what do you mean by metric? as in like,using (Select * AS test)? and also the sensor name as test?

[2019-06-19 07:37] pierosavi commented on #12
@LPnave
Yes, like that

Also I did some tests with a MSSQL with all the reports that I want to divide based on the field "description" like they were different metrics

`
SELECT
  $__time(ins_date),
  value as value,
  description as metric
FROM
  report_table
WHERE
  $__timeFilter(ins_date)
ORDER BY
  ins_date ASC
`

then, as sensor name if I put one of the descriptions (that are now metrics) it

[2019-06-19 08:39] LPnave commented on #12
@pierosavi  it worked Thanks!

[2019-06-20 08:20] pierosavi commented on #14
@digithermo
Since the last commit on master the image is always contained in the panel so it should have fixed your issue
It won't cut the image anymore but still create black bands around when the panel doesn't have the same aspect ratio, but now the image will be centered
Let me know if it's better now

[2019-06-20 14:12] digithermo commented on #14
Ciao Piero,

Sorry, but the issue is not fixed.
You mentioned the case when you resize the window from big to small and you got the same as the image with the green arrow I posted above.
Have you tried vice-versa, to make the windows bigger? I still have the image cut.

Print screen Step_1a and Step_1a represent the windows small size. The image in the panel is perfect, even when I scroll down the

[2019-06-20 14:40] pierosavi commented on #14
Can you confirm that you pulled the last master commit?
It's commit https://github.com/pierosavi/pierosavi-imageit-panel/commit/7cc6a3bbba77f3b206f69e0452773c0746bb92a0 as of right now
You can't update it in the web interface, you have to manually git fetch and pull from your plugin directory
I'm asking because I see your version it's behaving like the old one :)

[2019-06-20 14:44] digithermo commented on #14
@pierosavi
I am not sure. I will check with our IT guys and I will keep you posted.
Thanks for the quick reply.

-m.

[2019-06-20 14:53] pierosavi commented on #14
No problem!
This is because for the "classic" plugin update I need to make a request to the Grafana team and it could take weeks to be approved. If you pull directly for master we can test it faster and I'll update it officially later on

[2019-06-25 07:49] digithermo commented on #14
Hi @pierosavi

My IT guy has updated the plugin. The new release has fixed the issue.
Thanks for the quick response!!!

-M.

[2019-06-25 08:34] pierosavi commented on #14
Ottimo ;)

[2019-06-25 08:34] #14 closed

[2019-06-28 21:23] xkilian commented on #1
I look forward to it!

[2019-07-05 13:40] florianwgnr opened #18 "Feature request"
Some ideas that could improve working with imageit:

- ability to lock the sensors in place, so sensors cannot be moved by mistake.
Because: end-user in kiosk-mode doesn't want to make changes. Also: after clicking on a sensor to follow a link and moving it a little bit, the dashboard asks to save changes.

- newest grafana version and Firefox: even with no link provided, every sensor is linked to

[2019-07-05 14:38] pierosavi commented on #18
Sadly grafana doesn't have a custom event to monitor when it enters kiosk mode or to check if you are admin/editor or user
That's why I still have to find a mode to lock the sensors effectively

These two have been fixed today ;) you can update to the latest commit or wait next release!

[2019-07-05 15:25] florianwgnr commented on #18
Okay, thank you for the explanation. Maybe you could implement a checkbox, that creators can check when they are finished. After that, the movement could be blocked...

Wow, good job - thanks!

[2019-07-06 15:34] pierosavi commented on #18
I just tried this with a lock icon on the top right corner
It keeps the state after a refresh
Try updating to the last commit and let me know ;)

[2019-07-08 06:58] florianwgnr commented on #18
Works great, thank you very much!

But I have noticed something else: when displaying a sensor value, i.e. "9", the sensors are showing "9.00". Maybe you can implement a feature to set the number of decimal places?

Best regards

[2019-07-10 12:56] pierosavi commented on #18
This is now implemented in the last commit, together with true unit formatting and a metric list dropdown!

[2019-07-10 14:33] erickstorck opened #19 "New Feature"
Hi, I'm using your plugin to show sensors in a dashboard within a blueprint from our factory. It is working very well, you did a good job.

We are wondering if it is possible to add an image to any sensor in the dashboard. Currently we can change the colors of sensors, but it would be great if we could add images also.

[2019-07-10 15:06] pierosavi commented on #19
You can add a picture writing in the "display name" field this:
`_img-imageurl.jpg,height,width_`

You can try this in a sensor as reference:
`_img-https://upload.wikimedia.org/wikipedia/commons/c/c9/Moon.jpg,100,_`

If you don't set either eight or width the other is automatic

I see the feature is not written anywhere in the readme tbh, I'll add it later!

[2019-07-10 16:17] erickstorck commented on #19
Good job, thank you!

[2019-07-10 16:18] #19 closed

[2019-07-12 12:52] erickstorck opened #20 "new feature"
Hi, Piero!
What about determinate exactly width and height of sensors?

I try it changing "width" and "panelWidth" in the panel json, but it does not work.

[2019-07-12 13:55] pierosavi commented on #20
Hi,
the sensor is wrapped around the text, you can modify the text size in the "Size Coefficient" field
I don't see why you should modify the sensor size, what's your use case?

[2019-07-12 14:10] erickstorck commented on #20
Yeah, I understand. But "Size Coefficient" modify all the sensors, I want to modify each sensor. Just for organization.

For example, I'm showing data from PH and pressure. But the size of each sensor is not the same, because the length is not the same too.  "7.1 PH" are smaller than "5.3 BAR"

I have a dashboard with ~60 sensors, and I need to show all of them in the same size.

[2019-07-12 14:36] pierosavi commented on #20
I think I could add an individual size coefficient for every sensor and, if not set, it uses the global one
Could it work?

[2019-07-12 14:38] erickstorck commented on #20
yeah, awesome.

[2019-07-15 08:08] pierosavi commented on #20
Check the last commit https://github.com/pierosavi/pierosavi-imageit-panel/commit/7cf8ec7a4f8596d43ca6e550c2863573abe839c1 to try the new feature!

[2019-07-15 17:12] erickstorck commented on #20
It's really a good job. Thank you!

[2019-07-15 17:14] #20 closed

[2019-07-16 06:37] #18 closed

[2019-07-23 21:42] ppnacho opened #21 "URL Settings"
Hi,
I'm a beginner with this panel. I don't know who is the location of images and the url settings to read the images. I'm using Grafana in a docker container.

I hope that you help me.

Thanks,

[2019-07-24 07:31] pierosavi commented on #21
The best practice is to setup a web server like apache or nginx that can deliver direct access to images in http, like this https://upload.wikimedia.org/wikipedia/en/9/95/Test_image.jpg

[2019-07-24 18:06] ppnacho commented on #21
Hi,

Thanks, I've try whith one picture in a web server and works, but now I can't display the values of query, I don't know if I have to put something in link field (url). Is a link to sensor value?

Thanks,

[2019-07-24 18:13] pierosavi commented on #21
You need to set a value in the ALIAS field in your query and set the same value in the Name field in you sensor
Also remember to check the "render value" box

[2019-07-24 18:31] ppnacho commented on #21
I try your configuration but don't work. Shows "NaN" in the image.

[2019-07-24 18:33] pierosavi commented on #21
Can you attach pics of the query and the sensor?

[2019-07-24 18:34] ppnacho commented on #21
Hi, It works!!
Thanks

[2019-07-25 06:42] #21 closed

[2019-08-09 20:35] xkilian commented on #1
Nice update for the grafana units and decimals. Works well. I did notice a glitch were the sensor size becomes really small after editing, when reloading the panel or clicking on the lock it resets to the correct size. weird. Keep up the good stuff!

[2019-08-19 13:50] lsxredrain opened #22 "Prometheus source is error"
Prometheus  source  is error

[2019-08-20 09:51] pierosavi commented on #22
What error does it show? Can you send a screenshot or your configuration?

[2019-08-21 16:11] kelah opened #23 "Query more than 26 letters (refId)"
Hi,
  Any workaround if we have more than 26 queries? 26 seems to be the limit and Grafana team have no intention to increase anytime soon :(.

[2019-08-23 07:38] CBZakaria opened #24 "Postgres"
How to work with postgres in ImageIt ?

[2019-08-23 08:25] pierosavi commented on #23
Maybe wildcards would work as a workaround but if you have different metrics names it may be not possible

I found this: https://github.com/grafana/grafana/issues/4978#issuecomment-285300476 that could help, let me know

[2019-08-23 08:27] pierosavi commented on #24
You set up the metric that returns a value and give it an ALIAS
You add a Sensor and give it the same name as the metric ALIAS
This should work, you can send screenshots of what you tried and I can have a look at how to set it up :)

[2019-08-23 08:57] CBZakaria commented on #24
I did it thank you ;)

[2019-08-23 08:59] #24 closed

[2019-08-26 15:53] kelah commented on #23
we decided to split to 2 or more panels (and images). solved our problem for now.

[2019-08-27 10:22] kelah opened #25 "Less than/Greater than operators"
Hi,
  In "Value Mapping" section, the ">"  operator is read as "Greater Than" and "<" read as "Less Than"? I am seeing the opposite behaviour.

Best regards.

[2019-08-27 11:18] pierosavi commented on #25
Hello,
if you have a metric with value 20 and you setup the Value Color Mapping like

Operator: >
Compare To: 15

It will use the Value Color Mapping appearance settings because it checks if 20 > 15
Let me know if it isn't clear

[2019-08-27 17:58] kelah commented on #25
Hi,
    I faced this 2 confusing scenarios:
Scenario on sensor 1:
metric value: 24.50
Operator: >
Compare To: 20
Evaluate as "True"

Scenario on sensor 2:
metric value: 26.80
Operator: >
Compare to: 3.99
Evaluate as "False"

This is all on the same panel. Is there any limit # sensor/panel?

[2019-08-28 07:02] pierosavi commented on #25
That's weird
Can you check the type of value of sensor 2 metric? It could cause problems if the metric is a string

[2019-08-28 10:45] kelah commented on #25
yes indeed! it was string. changed to float, works like a charm. thanks!
maybe can implement autodetect the value type?

[2019-08-31 07:33] s5uishida opened #26 "Positioning sensor rectangle in the figure"
Thank you for your very useful plugin.

I have one question.

If I add a sensor, position it on the background figure, and release the mouse, the sensor rectangle will move slightly in the figure. This makes it difficult to place it exactly where I want it.

Is this something like that?
I am using v0.1.2.

P.S.

I have connected my following simple tool and ImageIt with Grafana. It is very useful.

[2019-08-31 13:26] pierosavi commented on #26
Hello, I pushed a new commit that fixes that weird "snapping" happening!
Try it and if it fixes it for you I'll release a new update

Rainy seems very cool, good job!

[2019-08-31 15:09] s5uishida commented on #26
Thank you for your quick response.

I confirmed that positioning can be performed accurately. It's very good!
I used PictureIt before, but I liked ImageIt very much.

Thank you very much again.

[2019-08-31 16:22] #23 closed

[2019-08-31 16:24] #26 closed

[2019-08-31 16:41] pierosavi commented on #1
Last commit fixes the "snap to grid" effect!
I'll push it as an official update together with the new metric formatting when I manage to fix that weird thing where the sensor size is really small after editing

[2019-09-11 13:18] Tormenta74 opened #28 "Option to hide the lock icon"
While the lock button is a very useful feature, when using the panel in a small size, it's position is relatively inconvenient. I would propose adding an option that would allow to show / hide the icon in the panel editor. That way you can lock (or unlock) the sensors and leave them in that state without the ability to toggle the lock unless you edit the panel itself.

[2019-09-11 13:40] pierosavi commented on #28
Hi, that seems like a really good idea! I'll have a look at it next week for sure :)

[2019-09-17 06:31] N0Fearz commented on #1
Any progress on 'Display multiple values on sensor'? I like to see this feature added to the plugin.

[2019-10-13 03:56] ama9910 commented on #11
Will you be publishing v0.1.2 on grafana.com so we can take advantage of Grafana unit format support?

[2019-10-13 09:06] pierosavi commented on #11
It is now on pull request

[2019-10-13 09:07] pierosavi commented on #28
This is now on 0.1.2 pull request

[2019-10-17 09:31] #28 closed

[2019-10-29 04:17] kotviphp opened #29 "zabbix map - imageit"
Hi

I add the URL https://zabbix-map... but on the panel, does not display pictures

![image](https://user-images.githubusercontent.com/25497579/67737409-420efd00-fa35-11e9-9a09-77e696bdbaf6.png)

[2019-10-29 08:16] pierosavi commented on #29
The panel only works with pictures, make sure your link returns one.
I think your zabbix map is a representation of your network structure as a webpage, this is not supported.

[2019-11-04 05:48] jason-4-github opened #30 "Image url with dashboard variable"
I had a problem which i needed let image url include the dashboard's variable so that changing another image as switch variable on dashboard.

I tried many string type and i got nothing.

does it has solution about that?

thank you so much

[2019-11-05 13:59] pierosavi commented on #30
I'm super busy in this period but I will look how to add dashboard variables asap
If you @jason-4-github or anyone else wants to try feel free to do it :)

[2019-11-22 14:46] ADefossez-Zenika opened #31 "Dashboard variables in metrics"
Hi! Thanks for this beautiful plugin: it help me to monitor consumer lag on kafka, the developers of my team love it! I've uploaded the architectural view of our application, with consumers, topics etc. and make my sensor on top of it. It pushed the monitoring to the next level!

BTW, we have several environments, so i added variable in my prometheus metric : `cluster="$cluster"` but your plugin c

[2019-11-22 15:00] #22 closed

[2019-11-22 15:10] pierosavi commented on #31
Hi Aymeric, thank you for your kind words!
Variable support is coming in the next release, I already have [this feature request](https://github.com/pierosavi/pierosavi-imageit-panel/issues/30), I will keep you two updated as soon as I can implement it :)

[2019-11-22 15:29] ADefossez-Zenika commented on #31
wonderfull :)

[2019-11-25 08:28] ADefossez-Zenika opened #32 ""select a sensor metric" when metrics return no values"
Hi there,
I've played with this plugin last week : that was fun ^^

Anyway, my kafka topics are empty today, i used it to monitor kafka consumer lag (1 sensor by consumer) and so my metrics return no values. I have a message "please select a sensor metric".

Maybe can we return another message, instead  ? What's your thoughts ?

[2019-11-27 17:00] pierosavi commented on #32
Hi,
Do you mean changing the message or the behavior in this case?

[2019-11-27 20:00] lenny1972 opened #33 "ImageIt Panel not showing edit top-bar.. :("
I'm havi ng issues using this panel in my Grafana docker installation.
I'm currently running a dockerized Grafana (Grafana v5.4.3 (6539180))  and after installing the latest ImageIt plugin from inside the docker exec wi the command _grafana-cli plugins install pierosavi-imageit-panel_ and restart the grafana docker I see the ImageIt panel withiin the "Add Panel" menù of Grafana but after selecting

[2019-11-28 09:45] ADefossez-Zenika commented on #32
HI,
I mean the behaviour, because if we set a query (ie prometheus) : this query returns (or not) values : but if it don’t return any value, it can be OK, at the moment. (it will return something later as queries can be very specifics)
The plugin doesn’t handle a query that dont return values : maybe we can select query by their field-name (like A, B, C) and return something like "NC" if the query

[2019-11-28 09:46] ADefossez-Zenika commented on #33
Hi Lenny, I had the same issue, and had to upgrade my grafana instance to 6.XX

[2019-11-28 10:44] lenny1972 commented on #33
Thanks for you reply Aymeric.

Leonardo

Inviato dal mio OnePlus 3T

Il gio 28 nov 2019, 10:46 Aymeric Defossez <notifications@github.com> ha
scritto:

[2019-11-28 10:48] pierosavi commented on #33
Ciao Leonardo,
I didn't know about this issue, please upgrade to v6 if you can as Aymeric said
Let me know if you can't and I'll look into it, still v5 support is not one of my main focus right now

[2019-11-28 13:26] lenny1972 commented on #33
Ciao Piero, mi sembra di capire che sei anche tu del Bel Paese...

Dalla descrizione del plugin mi sembra di capire che è proprio quello che
serve a me..Ho estrema difficoltà nel fare un upgrade alla v.6 anche perchè
sto già in produzione e non vorrei avere impatti sugli utenti...

Attualmente per quanto problema sono costretto ad utilizzare il plugin
"epict Panel" che però non ha tutte le feature

[2019-11-29 22:11] JonasMock opened #34 "In Grafana version 6.5.1 my sensors are not displayed"
After downgrading Grafana back to version 6.4.4 my sensors where displayed as expected.

[2019-12-05 01:05] MrCrest opened #35 "Removal of location fields?"
Were the sensor location fields removed [(commit)](https://github.com/pierosavi/pierosavi-imageit-panel/commit/52d366c4a27e7cf3018ce093ff6814ed4135f9cb) because of the better sensor drag and drop support?

I wanted to use this plugin to track a moving asset's location on a floorplan, so I had to get the location boxes to support values from metrics, or the x,y positions.

Here is my branch with th

[2019-12-05 13:30] #29 closed

[2019-12-06 10:02] GustavoLayrisse commented on #34
it looks like plugin is compatible until grafana version 6.4.5.

[2019-12-09 09:01] pierosavi commented on #33
Hi, I prefer to keep this in English so other people can understand :)
The compatibility issue is now fixed in https://github.com/pierosavi/pierosavi-imageit-panel/commit/52567c511fb74542dd196f7b6a96fd24cd94aa70 , I will release a new version officially soon

[2019-12-09 09:31] pierosavi commented on #32
I did some tests with prometheus for the first time.
The problem with that data source is that, for Grafana, when prometheus returns no value it's like the query doesn't exist at all
This is not true for other data sources like inlfuxdb or postgres
The only thing I could change in this case is the warning message to something like "NC" (as you suggested)

[2019-12-09 09:34] pierosavi commented on #34
The compatibility issue is now fixed in 52567c5 , I will release a new version soon

[2019-12-09 10:02] lenny1972 commented on #33
Thanks a lot Piero!!

I'll wait for the new plugin version.

Regards,

Leonardo

Inviato dal mio OnePlus 3T

Il lun 9 dic 2019, 10:01 Piero <notifications@github.com> ha scritto:

[2019-12-09 11:31] ADefossez-Zenika commented on #32
Hi Piero, Thats exactly the point. We can display "NC" but be sure that the query stay "in memory" . I mean when this query will return data again, it must display it by default , without re-selecting it by editing the panel. I'm not sure it's the current behavior

[2019-12-12 16:49] nctuevamax commented on #32
Hi Piero, I'm using InfluxDB as data source. I see same behavior as Zenika described.
I think "NC" or "Null" or "0" should be okay for me, something we could define by ourself should be even better.
Thank you for the wonderful plugin anyway, and looking forward to the next version regarding version compatibility issue^^

[2019-12-27 13:59] raidsec commented on #34
i could confirm that i have the same problems. My plugin is working until 6.4.5. After that version I got some strange issues. See here:

![image](https://user-images.githubusercontent.com/33294982/71519822-50548a80-28b9-11ea-8a3f-de06adee5af5.png)

![image](https://user-images.githubusercontent.com/33294982/71519826-55193e80-28b9-11ea-8b4e-ddb735fd61e7.png)

When will the new version be released?

[2020-01-08 14:48] cesem589 commented on #24
as you did CBZakaria, I am doing this query
SELECT time, count as production, location FROM historic_counter WHERE location='Production'

![image](https://user-images.githubusercontent.com/59579315/71987330-c1c30000-320c-11ea-83e6-2d12fb486df5.png)

I worked once but then the plugin breaks

[2020-01-08 19:50] pierosavi commented on #34
The update is now in PR here https://github.com/grafana/grafana-plugin-repository/pull/544

[2020-01-13 07:55] megardt commented on #34
I'm seeing the same thing here;
![image](https://user-images.githubusercontent.com/1398181/72239747-4a151c80-35e2-11ea-85bd-c640a975a7dc.png)

![image](https://user-images.githubusercontent.com/1398181/72239765-6022dd00-35e2-11ea-9940-8d3a4943c93c.png)

Thanks for a nice plugin by the way :)

[2020-01-20 13:57] raidsec commented on #34
When will the new version be released?

[2020-01-20 13:58] pierosavi commented on #34
@raidsec the pr is still open, I would say 1 week max

[2020-01-20 13:59] raidsec commented on #34
Ok, good to know. Thank you for fixing.

[2020-01-22 10:37] GustavoLayrisse opened #36 "Support eller feature request?"
Hi

First I will thank all of you for the great job done with this plugin, i'm pretty new in grafana and i don't often i'm not sure what is possible or not.
I have been trying to use metric labels in the text fields like "Display Name" and "Hover Text" but i can't make it work. Is there any syntax that needs to be use or is this a feature that could be added in the plugin.

Something like in Legen

[2020-01-26 01:05] suvajit commented on #34
Stuck with this issue on Grafana 6.5.0 update. Is this fix available in 0.1.3 release ?

[2020-01-26 13:19] pierosavi commented on #34
The update Just got accepted, I'll close the issue in a few days

[2020-01-30 15:02] mirkocomparetti-synesis commented on #32
I see the same behavior with influxdb as @nctuevamax reported.
Maybe doing something like in the singlestat panel where the query returns a "null" variable that we can then map with value mapping to the specific message that we need.
Thanks

[2020-01-30 15:36] mirkocomparetti-synesis opened #37 "Images url: images hosted on same server"
Hello,
I have a machine that is running grafana with your useful plugin. I have an apache instance on the same server: how can I access an image exposed on that server? I can configure an url using the IP, but I'd like to use some variables or something like "localhost".

Thanks,
Mirko

[2020-02-01 15:07] pierosavi commented on #37
Hi Mirko,
You can't set the urls as localhost because they are loaded from the client, not served from a backend.
I think the best way would be giving an hostname to the server and limit it to your network if the images can't be public

[2020-02-01 15:09] pierosavi commented on #36
Hi Gustavo,
I need more details to understand your issue, what db are you using? can you post the query removing any private info? thanks

[2020-02-01 15:11] pierosavi commented on #33
Hi, the new version is now available, reopen the issue if you encounter the problem again

[2020-02-01 15:11] #33 closed

[2020-02-01 15:11] #34 closed

[2020-02-01 15:12] lenny1972 commented on #33
Thanks a lot Piero I'll check it and let you know.

[2020-02-02 20:22] mirkocomparetti-synesis commented on #37
How can I make it public. I see examples with "/public/..." is the only way to use a URL, or can it be the uri of an image placed in a specific folder of the server that is hosting grafana?
I cannot understand how can I use it.

Thanks

[2020-02-05 07:33] GustavoLayrisse commented on #36
Hi Pierosavi
I'm using a prometheus DB...

Query answer can look like this

Element | Value
-- | --
node_wifi_station_signal_dbm{device="wlan0",instance="192.168.16.117:9100",ip="192.168.16.117",job="nodes",mac="c0:ee:40:43:7c:90",mac_address="b6:fb:e4:11:b3:53"} | -56

What i was trying to do is something like in "Display Name" = {mac} och "Hover Text" = {ip}

I have used this in other dashboard

[2020-02-10 04:53] suvajit commented on #34
Sorry, where can i get this fix ? I am not finding a release or branch for this fix ?

[2020-02-19 15:55] smargo171 opened #38 "Problem with dragging"
Hello, thanks for the great plugin. However I am not able to drag the sensors.
When I define a new sensor, I can drag it, but can not stop dragging.

If I leave the panel, some position of the sensor is saved, but I can't change it. The cursors changes to the hand , but it does not picking up the sensor to drag.

Or am I missing something obviuos?

Thanks!

I am using latest Grafana and latest plu

[2020-03-03 11:43] nuthub opened #39 "Replace variables in Display Names"
Replace variables in sensors' display names

[2020-03-13 20:04] wz2b opened #42 "Feature request: value mapping, value to string"
I would like to make a feature request, to add "Value Mappings" similar to what the built-in "stats" page does.  Consider the attached example: my rainwater tank is full, because it's disabled.  You can tell because the make-up water valve is open.  But it says "1" which is not very friendly.  I'd like some kind of value mapping that lets me say 1/0 is "on"/"off" or "open"/"closed" or "occupied"/"

[2020-03-14 13:24] pierosavi commented on #42
Hi Christopher, this will definitely be a future for next release, I'll keep you updated

[2020-03-14 13:25] #25 closed

[2020-03-14 13:27] pierosavi commented on #38
Hello, what browser are you using?

[2020-03-15 10:42] pierosavi commented on #37
I can't help with that, I don't know your specific case but I suggest hosting your images somewhere else or with a web server. Setting localhost directly is not supported

[2020-03-15 10:42] #37 closed

[2020-03-16 18:08] heliodor commented on #42
Along those lines, it would be nice if this plugin would be able to render data from queries that return string values instead of numerical values. I'm trying to show the values "ON" and "OFF", where those values come directly from the database without any mapping.

[2020-03-18 14:31] pierosavi commented on #42
@heliodor that should already be the case, is it not working for you?

[2020-03-18 16:31] heliodor commented on #42
@pierosavi It's not the the case by default. It's showing NaN. I figured it's trying to cast it to a number, so I deleted the number from the decimals box, and still not working. This time around, I found the Misc > System Locale unit type, and that worked!

I would think that unit: misc > none should render the value as-is without caring for its type, the presence of a value for "number of decima

[2020-03-19 13:25] pierosavi commented on #42
Thanks for writing your steps, it helps a lot! The unit type algo is mantained by grafana so I'm not currently 100% sure how it parses, but I can add exceptions for strings, it seems a good idea now.

Also I was thinking of adding an "override text" option to add to the existing value mapping feature

[2020-03-22 08:37] na-am opened #44 "picture url with password+username"
setting the url to
   http://username:password@mycam.mydom.com/snap.jpg
isn't working. in my browser of course it is
how can i access a picture with username/password?

thx

[2020-03-24 06:20] jimmyp90 opened #45 "Value Mapping Challenge"
Hi, great plugin, terrific work. I need your help and quick guidance with the following. I'm overlaying live temp sensors in my office and struggling to work out the value mapping to change colours at various temperatures. I've set anything <19 degrees to indicate a dark blue colour, < 21 light blue, 21 > to be yellow and 23> to be red

For some reason, the triggers are not working for me.
Thanks

[2020-03-25 10:55] pierosavi commented on #45
Hi Jimmy, I had another issue from a person that had their data as string, not number. Can you check if it's your case?

[2020-04-06 14:02] Alcarin opened #46 "Dashboard continuously prompt for save changes"
As mentioned also in [this ](https://github.com/grafana/grafana/issues/20610) issue, "uncache" value is changing continuosly and force the dashboard to a request to "save changes" everytime you try to exit form the dashboard. Issue seems happen every time auto-refresh is active and refresh the dashboard.

![save](https://user-images.githubusercontent.com/5025925/78566740-f6505300-781f-11ea-990a-8c

[2020-04-09 01:32] junhyuck-yoo opened #47 "The sensor does not move."
Hi.
I am currently using version 0.1.3 of IamgeIt.
However, if I try to place a seat after creating a sensor on the panel, it does not move. Is there any way to make the sensor move?
![스크린샷_2020-04-09_10-33-58](https://user-images.githubusercontent.com/52561569/78848758-ab1b8780-7a4d-11ea-8497-a911eb353a06.png)

[2020-04-16 15:41] podda94 commented on #47
Hi,
I have the same issue,
I'm using mozilla and the latest version of ImageIt.
Sometimes the panel crashes and i cannot move the sensor. I tried to restart grafana and the problem seems disappear but after some while it appears again. I thought might be something related to the lock but i tried with different options and nothing.
The dropping feature is amazing but maybe it could be helpful to ha

[2020-04-17 09:26] BRNMCP1337 opened #48 "Plugin not in plugin list @grafana webinterface"
Hi,

the imageit-panel is installed but is not displayed in the grafana plugin list @ web interface
furthermore, the panel including the imageit-panel throws an error:

![Bildschirmfoto 2020-04-17 um 11 18 37](https://user-images.githubusercontent.com/63773746/79553720-3247ab80-809d-11ea-8c28-d194fd889d62.png)

**Grafana-cli plugins ls:**
[code]
 please help, because unfortunately I can't use this

[2020-04-27 15:54] anshul27jain opened #49 "Want to know Ideal Size of the pic which can be uploaded here"
I have a image of Resolution **1944 * 1668**. It is not loading properly.
**Could you please suggest any way by which huge files can be loaded via this Plugin?**

[2020-04-27 22:44] smurfz commented on #42
I came here for the same feature request, and the NaN problem. I'm running Grafana 6.7.3, and for me it was _misc > locale format_. Thanks @helidor for the workaround.

[2020-04-28 08:24] smurfz commented on #49
While I don't have an answer to your question, I keep my image size to be no bigger than what I can show on the screen.

[2020-05-01 12:46] pierosavi commented on #49
@anshul27jain What do you mean by it's not loading properly?

[2020-05-04 13:49] anshul27jain commented on #49
Issue solved by increasing quality of file.
Now i want to know another thing.

Please explain how **_Size Coefficient_** can be in use?

[2020-05-04 13:56] heliodor commented on #49
@anshul27jain, if you need help using this plugin, StackOverflow is a more appropriate place to ask. Github Issues is for reporting and discussing issues and bugs.

[2020-05-18 10:10] Fleroux83 opened #50 "Local file for image URL"
Hi,
Thanks for your great plugin.
I'd like to use a local file for the image URL.
I write file:///home/user/example.jpg for the image URL but it does not work.
The plugin works fine with an URL in a web site.
What is the syntax for a local image?

I use Firefox for CentOS Linux 1.0.

Thank

Fabrice

[2020-05-20 11:48] IllariPosselt commented on #47
I have the same issue :) I tried Edge, Chrome and Firefox on Windows 10..

[2020-05-22 16:20] AlbaColet commented on #10
@pierosavi  Hi, I am using the grafana version 6.7.3 and I can not link the sensors to metrics. I have a dropdown comobox that is allways empty.

[2020-05-30 04:20] xkilian commented on #1
Keep up the good work. Nice to see this plugin move along, I like the simple edition workflow. It fills a niche between regular grafana panels and a full fledged object based like the grafana flowcharting panel.
Some flowcharting features might be interesting to add. (Multiple colours, being able to regex against any available metric to display. Chartist tooltip graphs, sparklines and table metric

[2020-05-30 10:36] pierosavi commented on #1
@xkilian Thanks for the interest, as always, it means a lot!

Anyways now I'm transitioning to the, now stable, React sdk for plugins.
You can see the progress on the react-migration fork.
It will take a lot of work but it'll have a lot of benefits in the long term, most importantly regarding implementing features/functionalities.

I'll add your nice list of requested features to the github Projec

[2020-06-01 03:45] xkilian commented on #1
Updated the feature list. Good to hear you are moving to the new plugin SDK, with Grafana 7 they are really made it powerful for all plugins. Dataframes, csv export, layout, UI library,  and many many other features.

[2020-06-04 16:25] pierosavi commented on #1
Yes that's one of the steps for the redesign

[2020-06-17 10:20] cyanghsieh commented on #42
Not sure how's the progress of this feature.
This feature is also important for my application. I fail to store mapping data into database since influxdb doesn't allow me to put Chinese/Japanese character into it. Therefore I am looking forward to having this value to string feature and thanks @heliodor for all the effort you spend.

[2020-06-19 16:57] thomasmatt88 commented on #42
I'm working with Grafana v5.2.4. and I don't see  _Misc > System Locale_ or _misc > locale_ as unit types. Is there another workaround to handling string values?

[2020-06-19 17:19] heliodor commented on #42
@thomasmatt88, I can't answer your question in particular but I'd recommend upgrading your Grafana to v6.x if you can. Grafana has always gone to great lengths to ensure backwards compatibility. The v7 GUI layout has changed quite significantly but going from v5 to v6 should be pretty straightforward.

[2020-06-19 17:27] thomasmatt88 commented on #42
Thanks @heliodor. Unfortunately, I don't have access to the server it is hosted on so I can't upgrade. However, I realized in my version that I needed to choose _none -> locale format_ which worked!

[2020-06-25 05:58] Ben0it commented on #32
Hi, since I upgraded to Grafana 7.x, the sensor lists are empty **(1)** in every instances of ImageIt. An additional warning **(2)** shows "InfluxDB Error: not executed" 'see image below).

I have updated the ImageIt with the latest code available in Github, same behavior. Did I miss something ?

Best regards,

Benoît.

![image](https://user-images.githubusercontent.com/25719453/85663364-48837080-

[2020-06-25 06:20] Fleroux83 commented on #50
Hi,
Nobody to answer me?

Thank

Fabrice

[2020-06-25 12:37] heliodor commented on #32
The fact that no metric is listed in your red #2 arrow makes me think that no data is being returned by your query for the 1h time window you chose. Take that query and put it in a new graph panel to make sure it _does_ return data.

[2020-06-25 12:43] heliodor commented on #50
@Fleroux83, this is caused by the way browsers work. It doesn't have anything to do with this plugin. See https://stackoverflow.com/questions/10752055/cross-origin-requests-are-only-supported-for-http-error-when-loading-a-local

[2020-06-25 15:33] Ben0it commented on #32
@heliodor : you were right, one of my queries was bugged (don't know why, it worked before).

So I disabled all queries and enabled them one by one : I could track the culprit.

Now I get the proper value display, thanks for the hint !

[2020-06-26 10:41] Ben0it commented on #32
After I upgraded to Grafana 7.0.4 this morning, ImageIt shows no more value.

When trying to edit the panel, I get this error :

![image](https://user-images.githubusercontent.com/25719453/85848816-1b62bb00-b7aa-11ea-9209-1eb08426a8e2.png)

Am I the only one affected ?

[2020-06-26 14:26] frdve opened #54 "Plugin is broken since Grafana 7.0.4"
Since the update to Grafana 7.0.4, the plugin stays black in the dashboard and does not show image and values.  When opening Edit, it crashes and show the error below:
![afbeelding](https://user-images.githubusercontent.com/66672043/85867779-a69f7900-b7c9-11ea-81f1-563e1bc7ce39.png)
Checking the image location manually shows that the image still works (image: https://www.globalspec.com/ImageReposi

[2020-06-27 19:17] Ben0it commented on #54
+1

Got the same problem [since yesterday](https://github.com/pierosavi/pierosavi-imageit-panel/issues/32#issuecomment-650112877).

[2020-07-06 07:54] Fleroux83 commented on #50
Thank for your help. I've no error in the browser's inspector windows. I can see a file in my brower with ///home/user/example.jpg.

[2020-07-06 11:28] Fleroux83 commented on #50
I've tried with Opera Browser and I've the same problem.

[2020-07-07 06:05] frdve commented on #54
Any updates on the issue?
Thanks in advance!

[2020-07-07 10:43] HenrikRolandHansen commented on #54
Same issue getting this error when trying to edit

An unexpected error happened
Detaljer
TypeError: Cannot read property 'offsetWidth' of null

[2020-07-09 09:22] anaconics commented on #54
Hit this today. Anyone looking into this??

[2020-07-10 07:31] frdve commented on #54
Not that I'm aware of.. :( Too bad, because it is the best Image plugin in Grafana...
I see an 0.1.4 update in the pipeline, but I'm not sure if this will be fixed: https://github.com/pierosavi/pierosavi-imageit-panel/pull/53

[2020-07-10 07:34] pierosavi commented on #54
@frdve I'm looking into this, I'll keep you updated

[2020-07-10 07:46] frdve commented on #54
Thank you! 😃

[2020-07-10 09:41] anaconics commented on #54
Thank you

[2020-07-11 14:31] pierosavi commented on #54
Hi all, sadly ImageIt v0.x.x compatibility with Grafana 7.0.2+ **will not** be a thing.

As some of you probably know the Grafana team is slowly deprecating the old mode of building plugins (Angular v1), so it was a matter of time until something broke beyond repair in ImageIt.

So, for now, If you can, revert your grafana installation to 7.0.0 if you really need the plugin.

But don't worry, Imag

[2020-07-17 09:01] tses89214 opened #55 "how to set font size?"
Thanks for the awesome plugin first,

and I want to know how can I customize the font size?

I've try use F12 and  set font size directly from css,

But it only effect  panel title and other text, not  to word from sensor.
thanks.

[2020-07-17 09:04] tses89214 commented on #50
@Fleroux83
maybe you can use some website you can upload pictures there (e.g. Imgur) to get a url of your pictures.

[2020-07-29 09:23] Fleroux83 commented on #50
my hosts have no access to Internet...

[2020-07-29 10:17] pbaumard commented on #50
One way to support this use case would be to support [Data URIs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs) in the plugin, e.g. `data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==`

[2020-07-29 21:01] aspro-at commented on #54
Thank you! 👍

[2020-08-05 21:50] dvdl16 commented on #54
Thank you! Can't wait, best of luck with the development of v1

[2020-08-06 12:41] befantasy commented on #54
this plug-in is very useful!

[2020-09-09 11:53] ajaywazir commented on #9
Hi Piero
any update on this?

[2020-09-09 11:55] ajaywazir opened #58 "New Feature Request 3"
Hi Piero
would it be possible to apply some math to metric values?
basic math, +,-, mul and div
For now using fixed values in text box,
in future may be another metric

Ajay

[2020-09-09 15:46] heliodor commented on #58
Hi @ajaywazir , this is not something that should be implemented at the plugin level. Each plugin developer would have to implement this over and over. Solutions:
- Your data source most likely has the ability to perform mathematical calculations. Check your docs.
- If not, Grafana 7 allows you to do so using the new transformations functionality: https://grafana.com/docs/grafana/latest/panels/tra

[2020-09-11 15:07] ajaywazir commented on #58
Hi Piero,
Thanks for clarifications
Noted on Grafana 7
Ajay

From: Heliodor Jalba <notifications@github.com>
Sent: 2020-09-09 23:47
To: pierosavi/pierosavi-imageit-panel <pierosavi-imageit-panel@noreply.github.com>
Cc: ajaywazir <ajaywazir@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [pierosavi/pierosavi-imageit-panel] New Feature Request 3 (#58)

Hi @ajaywazir<https://eur01.saf

[2020-09-11 15:24] heliodor commented on #9
@pierosavi this kind of feature seems redundant. The requested idea is to render external content on an external image. So, why can't the user just build it externally and render it with the ajax panel?

Users can render with svg or html: absolute positioning and/or iframes.

That's what the ajax panel is for: external content. Regardless of what that content is.

@ajaywazir what are the specifics

[2020-09-15 10:30] pierosavi commented on #58
Thanks @heliodor for the correct answer, closing this

[2020-09-15 10:30] #58 closed

[2020-09-26 17:49] cs1193 opened #59 "how to fetch metricValues in react plugin?"
@pierosavi

I am trying to build the react plugin where I am trying to retrieve the `metricValues`, but props are not giving this data.

I am unsure how to trigger this `data-received` event.

Is there are way to populate the metrics dropdown with data? Any help is appreciated.

[2020-10-13 16:47] pierosavi commented on #59
Hi @cs1193 , I'm not sure I understood the question, are you trying to get metrics data?
if so the data object from
`export const ImageItPanel: React.FC<Props> = ({ options, data, width, height, onOptionsChange, fieldConfig }) => {
`
has metrics data

[2020-10-13 16:59] pierosavi commented on #54
Hi all, I'm very close to releasing version 1
The only big thing missing is the value-mappings feature that I decided to rename to Overrides
That allows you to override some properties of the sensor like value color, background color, blink.. when some conditions are met (think about a temperature sensor blinking and becoming red when the temperature is above 40°)
With the grafana changes in the n

[2020-10-13 17:33] #38 closed

[2020-10-13 17:34] #32 closed

[2020-10-13 18:21] minida28 commented on #54
Hi @pierosavi , thank you for your great work !
I've tested the react version on Grafana 7.2.1 and it works fine.

I found some issues though:
1. List of metric names does not show up automatically. Previous version does.
2. Font size is not responsive.

Pictures below show the comparison of font responsiveness beetween the previous version of the plugin and the new react version.

![image](https:

[2020-10-13 18:46] pierosavi commented on #54
@minida28
thanks for the quick feedback!

1. I'm aware of that and it's the main limitation that I was talking about
Some data is impossible to access directly like the metric list, I'm looking into a lightweight state manager to fix that in a nice stable way
2. Good catch, I missed that!

[2020-10-13 18:50] HenrikRolandHansen commented on #54
Looking forward to the first release = me upgrading to grafana v7.x.

Thanks for efforts and grate work.👍

[2020-10-23 06:19] frdve commented on #54
Hi @pierosavi , also a big thank you for your great work!  I'm eagerly waiting for the plugin to be released!
I don't want to be pushy, but do you have a timeline when you will release the v1 to the store?

Thanks!

[2020-10-27 00:29] pierosavi commented on #54
Thanks for the kind words
Sadly I don't have a time, I am working on the last things to make it easier to use but the new Grafana changes make it kinda difficult to set up as it was before

[2020-10-30 09:47] Juliuss11 commented on #54
Hi @pierosavi , thanks for your plugin.
Can you please push on the repo also the built plugin (like for the official one) even if it is not completed? Would be easy for me to test it and provide feedback :)
Thanks,

[2020-10-30 10:37] pierosavi commented on #54
@Juliuss11 Hi, pushing the built folder is against the new grafana sdk "rules" and can create problems in general

If you want to try building for yourself I updated the guide in the [README](https://github.com/pierosavi/pierosavi-imageit-panel/blob/react-migration/README.md) under **How to build** with the steps :)

[2020-10-30 20:21] xkilian commented on #50
The better way imo would be to permit the plugin to manage dropping image files to the grafana server or the same thing on the different web server. Ideally a managed interface for dropping images to a web server that can be read by Grafana Plugins. The interface should be authenticated, logged, etc. (already done in grafana). something like dropjone.js or other manager

[2020-11-02 14:25] Juliuss11 commented on #54
Hi @pierosavi , thanks a lot.
Untill now the plugin seems work fine.
One more feature that would be great for me is the possibility to define the size for each sensor instead of make it dependant to the font size.

[2020-11-02 17:52] eyecee opened #60 "Issue manually installing React-Migration build"
Hi Piero,

I'm running Grafana v7.3.1 (6668161a88) and after reading all the issues and comments with installing the ImageIt Panel v0.1.3 on Grafana 7.0.2+, I've tried to install the React-Migration build using the READ ME instructions but I got the following output:

$ sudo git clone --single-branch --branch react-migration git@github.com:pierosavi/pierosavi-imageit-panel.git
Cloning into 'pieros

[2020-11-09 12:29] GarbatyGrabarz commented on #54
Hi, @pierosavi Your panel is amazing and I could not wait so I tried to build the plugin myself, however it does not show up on the plugins list (even after restart). Am I missing some obvious step? Im working on Raspberry Pi OS, could that be the reason? Besides bunch of linting errors building went smooth

[2020-11-09 18:41] pierosavi commented on #54
Hi @GarbatyGrabarz thanks for the kind words! Please open a new issue indicating your Grafana version so I can help you better :)

[2020-11-10 09:40] GarbatyGrabarz commented on #54
The sheer threat of opening a new issue made it work. I do not know what is this sorcery but I built it again and restarted the computer again and it worked. For clarification: the plugin showed up on the plugins list but not in the Visualization option.
Thank you again @pierosavi for the amazing panel, and you, Digital Gods for blessing my components!

[2020-11-10 09:49] pierosavi commented on #54
@GarbatyGrabarz Awesome! I will keep in mind praying the Digital Gods 🙏 next time it breaks

[2020-11-11 15:47] #60 closed

[2020-11-11 15:48] eyecee commented on #60
I managed to clone the react-migration branch via HTTPS so all good. Sorry for the inconvenience!

[2020-11-11 15:50] pierosavi commented on #60
@eyecee sorry for ignoring, that was the correct way to fix, I updated the README

[2020-11-12 15:36] G0nz0uk commented on #54
This plugin sounds amazing.  My goal is to upload our Visio server and network racks and show the equipment state as in green, amber or red (already have this in a Grafana table).

When I link to my server-rack.png (http://x.x.x.x:3000/public/img/imageit/server-racks.png) under the unsigned imageit plugin section in the panel the image shows for a moment I get the error:

**An unexpected Error hap

[2020-11-12 23:24] eyecee commented on #60
Thanks @pierosavi - I appreciate the follow up and action. Cheers!

[2020-11-25 09:22] G0nz0uk opened #61 "An unexpected Error happened - TypeError: Cannot read property 'offsetWidth' of null"
This plugin sounds amazing. My goal is to upload our Visio server and network racks and show the equipment state as in green, amber or red (already have this in a Grafana table).

When I link to my server-rack.png (http://x.x.x.x:3000/public/img/imageit/server-racks.png) under the unsigned imageit plugin section in the panel the image shows for a moment I get the error:

An unexpected Error happen

[2020-11-28 12:42] eyecee opened #62 "Master branch: Value Mapping - Missing Metric when no value returned from query"
Hi team,

Quick background - Grafana 7.0.1 using ImageIt v0.1.3 Master Branch on an InfluxDB data source. Got it all connected and working when there is data coming from the datasource given a specific query.

Issue: I have 7 IoT sensors feeding data every 15 minutes into the InfluxDB. I have set up Grafana's query to apply a time filter set to relative time value of 20m to only count the readings

[2020-11-30 14:18] eyecee commented on #62
This is the same scenario as issue #32 that was closed before a resolution was found

[2020-12-01 11:55] eyecee commented on #62
Quick update with solution; taking the lead from issue #32, I found that I could modify the line found in /var/lib/grafana/plugins/pierosavi-imageit-panel/dist/imageit_ctrl.js to the following in order to replace the 'Select a sensor metric' with an alternative value:

 `                  if (metricValue === undefined) {
                    //sensor.valueFormatted = 'Select a sensor metric';

[2020-12-01 11:57] #62 closed

[2020-12-07 10:00] frdve commented on #54
@pierosavi, would it be possible to release the current version?  I have no access to the Grafana instance and cannot clone the repo to test the current version, but i'm very interested to test and use the current version of your plugin.  It's ok if there would still be an issue in the code, this can then be updated if needed.

Thanks in advance!

[2020-12-11 07:44] frdve commented on #61
I think it's the same error as in #54, so I guess you have to wait until the new version comes out.

[2020-12-15 16:25] mirkocomparetti-synesis commented on #54
That would be important for us as well... we cannot clone the repository in the machine we are using and for now we have _broken_ dashboards and this packages is so appealing!
Thanks!

[2020-12-22 14:38] kainoak commented on #10
Hi everybody,
i've a big problem with grafana, plug ImageIt, it doesn't work.
Who can send me a sample of json ? Thanks a lot.
(cause i think that the interface doesn't wor there are some errors like 'in' or 'lenght' ..., so perhaps json ll be ok)
thanks all.

[2021-01-08 22:09] kskenyon commented on #54
Can't get past the linter errors.  What can I do?

pierosavi-imageit-panel]$ yarn build
yarn run v1.22.10
$ grafana-toolkit plugin:build
✔ Preparing
⠙ Linting

  /usr/share/grafana/public/app/plugins/panel/pierosavi-imageit-panel/src/Sensor.tsx
    83:27  error  Replace `·()·=>·setIsMouseOver(true)·` with `()·=>·setIsMouseOver(true)`    prettier/prettier
    84:27  error  Replace `·()·=>·setIsMous

[2021-01-11 12:47] GarbatyGrabarz commented on #54
Manually fixing the linting issues worked for me

[2021-01-11 23:35] kskenyon commented on #54
Thanks, I managed to fix the linting issues and it compiled OK.  However, as it happened to you, it doesn't show up as working in the Grafana Plugins panel with this error on a banner:

"Error Loading Plugin
Check the server startup logs for more information.
If this plugin was loaded from git, make sure it was compiled."

I did a few grafana-server.service restarts but no change. Nothing shows up

[2021-01-18 21:59] pierosavi commented on #54
Hi all, check out the new [README](https://github.com/pierosavi/pierosavi-imageit-panel/blob/react-migration/README.md) and let me know what you think. v1 is ready and will be published out as soon as the migration tool is ready, probably this week. @heliodor check out the features parity :)

[2021-01-19 00:52] kskenyon commented on #54
Waiting with bated breath.

Kevin

Fatfingered from my iPhone

[2021-01-19 07:48] mirkocomparetti-synesis commented on #54
That is a great and big news!

Readme looks good to me and the fact that there is a way to host the image locally (with limitations) is a great news to me!

[2021-01-19 11:15] frdve commented on #54
That is indeed superb news!
The migration tool, is this something which will be triggered automatically when updating the plugin?

Thanks for the good work!

[2021-01-20 18:20] pierosavi commented on #54
@frdve That will require a bit of manual work, pasting your panels JSON to a website and back again inside the panel

[2021-01-21 08:44] mattbue commented on #54
Hi, today i tried this panel the first time and ran into the same error.
But great to see that the solution is coming.
Thanks!

[2021-01-22 07:15] berilslv commented on #54
Fantastic news that this great plugin soon will work with newest grafana!
It will be possible to upgrade current version with simple cli command as 'grafana-cli plugins update-all' ?

[2021-01-22 12:25] pierosavi commented on #54
@berilslv Yes, soon!
But, to keep data from the last version, you have to manually use the migrator tool when updating it (only for this major version update)
If not you'll just see empty ImageIt panels

[2021-01-25 17:08] pierosavi commented on #54
v1 is in review!

Migrator and FAQ are live here
https://pierosavi.github.io/imageit-migration/

Waiting patiently with you for the release

[2021-01-25 20:45] GarbatyGrabarz commented on #54
That is some amazing news! I was waiting for this day :) Great job!
Just to be clear. If I don't care about preserving my old panels I just need to update the plugin and I am good to go? Even if I built the plugin myself?

[2021-01-25 20:54] mirkocomparetti-synesis commented on #54
Great news! 👍
Hopefully the review will be quick and we will have the panel back soon! 😃
Thanks!

[2021-01-25 21:30] HenrikRolandHansen commented on #54
Cool feature - grate job 👍

[2021-01-25 21:51] frdve commented on #54
Great news!! Can't wait! :)

[2021-01-25 22:18] pierosavi commented on #54
@GarbatyGrabarz Yep in that case just update it and that's it!

[2021-01-26 09:39] #59 closed

[2021-01-26 10:23] nctuevamax commented on #54
So exciting! Hopefully to pass the release review soon. Thanks again for the great work!

[2021-01-27 12:47] jajimgme commented on #54
Really needed this plugin for next week and how lucky! Thank you very much for your work!

[2021-01-29 10:23] jajimgme opened #66 "When there is no data panel breaks: n is undefined"
Hello,
I was using the panel (v 1.0.0) with a influxdb datasource. This datasource is a bit particular because it can return no data (nor defaults or column names, just nothing at all). In this case the plugin fails to load, not even loading the image.
To make it work again you have to select a time range with data and then reload the whole page.

Would it be possible to have something like puttin

[2021-01-29 14:41] xkilian commented on #1
Congrats on the rewrite. I look forward to giving it a spin.

[2021-01-29 17:36] pierosavi commented on #66
That's weird! I can't reproduce the issue, can you update to latest master version and try again?

[2021-02-01 06:29] berilslv commented on #54
sorry for another bump, but is new version alive and ready to install/update?

[2021-02-01 08:05] mirkocomparetti-synesis commented on #54
[Looks like the revision is not over yet](https://grafana.com/grafana/plugins/pierosavi-imageit-panel)

[2021-02-01 08:11] frdve commented on #54
But it looks to be close.  The Pull Request of adding it to the Grafana plugin repository looks ready to be completed: https://github.com/grafana/grafana-plugin-repository/pull/835

[2021-02-02 20:15] pierosavi commented on #54
Hi all
v1.0.0 is out!

Even better, 1.0.1 is out, already fixing a small issue on 1.0.0

Thanks for your patience, I'll close this veeery long issue and all the ones not related to this new version

[2021-02-02 20:15] #54 closed

[2021-02-02 20:16] #61 closed

[2021-02-02 20:17] pierosavi commented on #50
@Fleroux83 I put some informations on that on the repository readme

[2021-02-02 20:17] #50 closed

[2021-02-02 20:18] #49 closed

[2021-02-02 20:18] #47 closed

[2021-02-02 20:19] #35 closed

[2021-02-02 20:25] pierosavi commented on #48
@BRNMCP1337 can you try updating and retrying?

[2021-02-02 20:25] pierosavi commented on #46
Fixed in 1.0.0

[2021-02-02 20:25] #46 closed

[2021-02-02 20:27] #55 closed

[2021-02-03 07:00] frdve commented on #54
Thank you very much for all the effort! :)

[2021-02-03 07:50] berilslv opened #67 "[Feature request]Changing color when treshhold reached"
Hi Pierosavi,
Thanks for 1.0.1 update, it works really good!

I have question:
Maybe there is possibility to set treshhold , and when its reached sensor color changes from green to red?

Thanks in advance! :)

[2021-02-03 08:40] jajimgme commented on #66
Hi! Thank you for taking a look!
I have upgraded the plugin to the 1.01 version from the grafana service (seems the same of the last commit in master  as of now) and keeps breaking but now another message appears:
![imagen](https://user-images.githubusercontent.com/6930572/106719918-22d12900-6603-11eb-8275-73b9703fd4d4.png)
I don't know if it is usefull but the console shows this error:
`TypeError

[2021-02-03 08:44] mirkocomparetti-synesis opened #68 "No image without lock"
Hello,
In panel 1.0.1 if you disable the "show lock" the image disappears.

This happens with a brand new panel that has only the image (from web link) configured.

[2021-02-03 09:04] mirkocomparetti-synesis commented on #68
Sorry, by bad... it was my mistake. Closing.

[2021-02-03 09:04] #68 closed

[2021-02-03 17:45] pierosavi commented on #67
That feature is already implemented, it's called mappings
Create a new mapping on the right menu and set its ID to the sensors that should be influenced by it

[2021-02-03 18:19] pierosavi commented on #66
The error log helps a lot!
It seems that the error occurs somewhere when applying the unit type, can you confirm that it's set on your sensors?
If it's different than none try changing it to that
Also try clicking the panel title --> inspect --> Data and check if the result is a table with your query result as a simple number

[2021-02-03 20:27] rogerthn2019 opened #69 "0 (zero) displayed as No Data"
My very first tries with ImageIt but as far as I can tell 0 (zero) is displayed as No data
Current workaround, add 0.001.
Maybe I am doing something wrong?
Using version 1.0.1
PS
Getting data from influxdb

[2021-02-03 21:14] pierosavi commented on #69
Thanks for the feedback! I pushed a fix, will be there on next release :)

[2021-02-03 21:14] #69 closed

[2021-02-04 09:21] jajimgme commented on #66
Hello!

I have tried to remove all the unit types (this panel has several sensors) and now it doesn't break! It shows the No Data Message where the metric should be. That is fine thanks.
However it should be possible to keep the unit type in the future? That would be great. Oh, in the inspect only a No Data message appears.
Thank you for your time!

[2021-02-04 09:51] GarbatyGrabarz opened #70 "Feature request: Multiple mappings or operators support"
I have an issue that one of the sensors should inform user if the values are outside of a range. I would like either to prepare two mappings (below and above value trigger) and feed a sensor two IDs or to be able to set double conditions for one mapping. I think the former could be more flexible for users.

Congrats on the latest release. It is amazing!

[2021-02-04 20:09] pierosavi commented on #66
It would be interesting to understand why exactly it crashes so bad, can you try maybe reenabling unit types on each sensor one by one and see if some crash the panel and some others don't?

[2021-02-04 20:18] #48 closed

[2021-02-05 13:21] mirkocomparetti-synesis opened #71 "Error when no data and measurement unit"
**Describe the bug**
In case the value returned is represented as "no data", setting a measurement unit will cause the panel to fail and report an error "toLocaleString".

**To Reproduce**
Steps to reproduce the behavior:
1. Define a new sensor
2. Do not set ant ID
3. Set a measurement unit other than "none"
4. See error

**Expected behavior**
No data should still be reported, and no failure shuol

[2021-02-05 18:52] augurhomelab commented on #71
I'm seeing this as well. If you need anyone else to test let me know and I'll be happy to.

[2021-02-05 20:46] pierosavi commented on #71
This is so weird, I have also https://github.com/pierosavi/pierosavi-imageit-panel/issues/66 with the same problem but I can't reproduce it
Even with your steps from a brand new Grafana instance with the public plugin version I see "No data" and everything works fine

[2021-02-06 03:56] augurhomelab commented on #71
It's definitely odd, are you using Influx or Graphite as a source in your attempts to replicate? I'm specifically using the Graphite resource when seeing these issues. I'm seeing the correct results when I look at the query inspector, they simply don't seem to map properly to the sensors.

[2021-02-06 07:59] mirkocomparetti-synesis commented on #71
In my case I'm using influxdb... I'm not sure but it looks like it does not depend on the db...

Sent from mobile

Il 6 Feb 2021 04:56, augurhomelab <notifications@github.com> ha scritto:

It's definitely odd, are you using Influx or Graphite as a source in your attempts to replicate? I'm specifically using the Graphite resource when seeing these issues. I'm seeing the correct results when I look

[2021-02-06 13:40] #67 closed

[2021-02-06 13:47] pierosavi commented on #71
@augurhomelab I was using the debug grafana source, which emulates fake data or no data/errors easily
I set up influx v1.8, following the steps everything still works fine

![image](https://user-images.githubusercontent.com/15440183/107119749-e82cf200-6889-11eb-96c4-d6b0d5dd9bf2.png)

can someone provide another way to reproduce it?

[2021-02-07 17:02] mirkocomparetti-synesis commented on #71
Did you try influx 2? I'm having hard time there as well

Sent from mobile

Il 6 Feb 2021 14:47, Piero <notifications@github.com> ha scritto:

@augurhomelab<https://github.com/augurhomelab> I was using the debug grafana source, which emulates fake data or no data/errors easily
I set up influx v1.8, following the steps everything still works fine

[image]<https://user-images.githubusercontent.com/1

[2021-02-08 15:03] CarloRomani opened #74 "No data displayed"
**Describe the bug**
No data are displayed in the sensor text box in the panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Define InfluxDB 2.x data source, with flux language
2. Create a new dashboard with imageit-panel
3. Write a flux query to access the required data
4. Define a new sensor
5. Fill only Query ID
6. No data in textbox (sensor defined)

**Expected behavior**
Visualizatio

[2021-02-08 15:42] augurhomelab commented on #71
@pierosavi Sorry if this is an ignorant question, but it appears you aren't sending any data to a sensor. What happens when you do that? I'm seeing the data from the query populating perfectly fine, it's when I'm attaching a sensor to the data. I can send you the json of my queries (sanitized a bit) if you would like. Let me know.

[2021-02-08 15:58] mirkocomparetti-synesis commented on #74
Hello, I am in the same condition as here.
Thanks

[2021-02-08 15:58] augurhomelab commented on #71
@pierosavi #74 - This actually sounds like my issue, but it really sounds like the two are the same.

[2021-02-08 16:01] mirkocomparetti-synesis commented on #71
I'm affected by both as well, but I do not think they are the same: this one is the same as #66 while #74 is purely related to the way influxdb2 queries return data

[2021-02-10 15:04] augurhomelab commented on #74
@pierosavi Let us know if we can send you logs/etc, to help troubleshoot. Happy to help!

[2021-02-11 09:59] shy2019 commented on #74
I have the same issue here with another data source.

[2021-02-16 14:48] augurhomelab commented on #74
@pierosavi any update? I'm more than happy to troubleshoot any way I can. I'll even do a Teams/Zoom call and share my screen so you can look around if you would like. Thanks again for all your work on this!

[2021-02-22 15:53] Francesco-30 opened #75 "Metric Value 0 showed as No Data"
**Describe the bug**
A sensor associated with a query shows "No data" instead of "0" when the query return a numeric or boolean "0" value

**To Reproduce**
Steps to reproduce the behavior:
1. Set a datasource (I tried both Postgres 10 and influxdb)
2. Create a new v1.0.1 imageIt panel
3. Set a query for a metric that can admit 0 as a value (eg. outdoor temperature can be 0, a boolean can be 0)
4.

[2021-02-22 22:00] kskenyon opened #76 "Still not able to load the plugin."
I removed the old one I installed from git and installed the new one using grafana-cli.

I still get the

**Error loading: pierosavi-imageit-panel**

Any ideas on how to get the plugin going?  I could really use it.

Grafana Version 7.4.2 (commit: 29e75ad97b, branch: HEAD)

[2021-02-25 02:33] zfleet opened #77 "add Font awesome icons in sensor name"
**Is your feature request related to a problem? Please describe.**
In some case, we don't want to show the value, but instead an icon and a mapping, For example, with a light, or a lock. You don't need to show the on/off value, juste just a yellow icon

**Describe the solution you'd like**
In the previous version, I used a lot of awesome-icon with no value and more than one mapping, this was a ver

[2021-02-25 08:05] berilslv commented on #74
And it happens randomly.
 I have tried to increase time from (10m) to (30m) its getting better, but still sometimes it shows no data.

[2021-02-26 10:51] dev592335 commented on #70
We want to set background color to green, yellow or red depending on the value of a sensor (the value is actually based on the number of alarms for a node).
So we also would like to have multiple color mappings for a sensor.

[2021-02-26 10:57] dev592335 opened #78 "Hover text for sensors is missing"
Hover text is no more available in version 1.0.1
Please make available again.

![image](https://user-images.githubusercontent.com/79697003/109291824-be803e80-7829-11eb-996d-243e7d860975.png)

[2021-02-26 12:15] dev592335 opened #79 "Circle shape no more available in release 1.0.1"
In previous versions the shape of the sensor could be either a circle or rectangular. This feature is missing in 1.0.1
Could you please make available again?

![image](https://user-images.githubusercontent.com/79697003/109298992-b083eb00-7834-11eb-8062-735d741cce44.png)

[2021-02-26 12:19] dev592335 opened #80 "No possibility any more to not render the value of a sensor in version 1.0.1"
In previous versions it was possible to suppress the display of a sensor's value, i.e. just showing the background. This is no more possible in version 1.0.1
Could you please add this feature again?

![image](https://user-images.githubusercontent.com/79697003/109299136-eaed8800-7834-11eb-8fba-38397d4ffb10.png)

[2021-02-26 21:36] nuthub commented on #75
I can confirm this bug with Grafana v7.4.3 and Plugin v1.0.1

[2021-03-01 09:46] berilslv commented on #75
I there any hot-fix or workaround for this bug?

[2021-03-01 09:52] pierosavi commented on #75
https://github.com/pierosavi/pierosavi-imageit-panel/issues/69

[2021-03-01 09:52] #75 closed

[2021-03-01 09:57] berilslv commented on #74
Im facing this even with InfluxDB 1.8
In my case "No Data" appears, when value is 0

[2021-03-08 06:31] berilslv commented on #71
Geeting the same error, and map image is not showing now, when all data is "no data" (Influx;mosquitto;etc is up! MQTT controller is down!)
![image](https://user-images.githubusercontent.com/46807385/110283345-9b534d00-7fe8-11eb-811a-6f9210b8049e.png)

[2021-03-09 08:22] GarbatyGrabarz opened #82 "Faster image loading time"
**Problem**: It takes a lot of time to load an image in the panel. In my case it takes over 8 seconds. Since the panel is on a front page it looks pretty bad when the whole page with logs and shortcuts loads but the crown jewel of the image still has not loaded.

**What should happen**: Image should load as fast as other panels.

**Tried alternatives**: I have created a panel with the same image b

[2021-03-09 10:23] HenrikRolandHansen opened #83 "0 values is snown as No data"
I'm using an influx database where the query returns 0 but the value is show as "No data"

![image](https://user-images.githubusercontent.com/8969659/110456209-91ede180-80c9-11eb-98d2-4ec3e048912d.png)

 - Browser edge
 - Plugin Version latest
 - Grafana Version [e.g. 7.4.3]

[2021-03-09 10:30] HenrikRolandHansen opened #84 "Low boundary limitations to where values can be placed in drawing"
It seams there is a lower boundary that limits the possibility to place values in the bottom of the drawing.

![image](https://user-images.githubusercontent.com/8969659/110457208-ada5b780-80ca-11eb-9f9f-0d3c0b958f9c.png)

**Grafana (please complete the following information):**
 - Browser Edge
 - Plugin Version latest
 - Grafana Version [e.g. 7.4.3]

[2021-03-09 20:04] pierosavi commented on #83
can you check that the plugin version is 1.0.2? this was fixed already

[2021-03-09 21:11] HenrikRolandHansen commented on #83
Yes sorry it was not the latest version I had. After update it works

Sorry for the inconvenience

[2021-03-26 10:57] dewell81 opened #86 "No data as soon as I add a transformation"
Hello, I connected the panel to my elasticsearch datasource and it works well. But as soon as I add a simple transformation like like adding two fields or adding 1 to a field all elements are suddenly showing "no data".

Here an example:
![grafik](https://user-images.githubusercontent.com/25923729/112621482-18285880-8e2a-11eb-9ebd-c1d7d3f7fde7.png)
Both busses show 3.0, the correct value that is c

[2021-03-26 11:13] pierosavi commented on #86
I think I know what the problem is and it's common to influxdb 2 and other more complex data sources
If you can please try to add a Bus to a Stats visualization panel (the one already included with Grafan) and tell me if it works well in both cases with and without transformation

[2021-03-26 11:17] dewell81 commented on #86
Thanks for the quick response!
I tested the same datasource and same queries with the default graph panel and the transformation works instantly
![grafik](https://user-images.githubusercontent.com/25923729/112623920-38a5e200-8e2d-11eb-80f6-68fe99030a19.png)

[2021-03-26 11:26] pierosavi commented on #86
Can you try with this
<img width="155" alt="image" src="https://user-images.githubusercontent.com/15440183/112624310-c255af80-8e2d-11eb-8112-effee7ca17ee.png">
just to be sure?
Under Display options set it to Calculate and Calculation = Last (not null) and check if the number is correct

[2021-03-26 11:33] dewell81 commented on #86
yes that works
![grafik](https://user-images.githubusercontent.com/25923729/112625564-668c2600-8e2f-11eb-8bd7-a3d509b81111.png)

[2021-03-26 11:58] pierosavi commented on #86
Looks good, are you able to debug development branch if needed?

[2021-03-26 12:08] dewell81 commented on #86
Unfortunately I didn't develop any panels myself yet so I'm not familiar with it at all.

But I'm going to conduct a few tests with a fresh imageit panel since mine has a lot of queries and sensors added already. The part of the team filling the elasticsearch database just suddenly game up with the request of performing calculations on the fields within Grafana.

[2021-03-26 21:34] dewell81 commented on #86
No success. Unfortunately I'm not given the time to look deeper into it. We are going to do the transformation already on elasticsearch level

[2021-03-26 21:37] pierosavi commented on #86
If possible do that for now as a workaround, keep an eye on plugin updates because that's probably going to be fixed next version

[2021-03-26 21:49] dewell81 commented on #86
Would be great and keep up the good work! Happy with the plugin already as it is :)

[2021-03-27 13:09] pierosavi commented on #74
@berilslv this was already fixed, please update to latest version

I fixed influxdb and potentially all other data source related bugs in the development improve-display-values.
What I did is using the same methods that the Grafana team use to parse data in their own internal plugins.
This means things could break in major updates but I know where to look if they do!

If someone here knows how to

[2021-03-31 05:57] GarbatyGrabarz commented on #82
@pierosavi I use InfluxDB

[2021-03-31 22:14] pierosavi commented on #82
I tried improving times by loading only the image at first but it doesn't seem possible as it's a Grafana limitation
To debug I tried turning off my influxdb 2 instance and add the same 2 queries to 2 different panels, one imageit and one default Grafana panel like Stats, then reload the page
They both stay completely blank for 5-6 seconds before showing "no data"
I see that the plugin code doesn'

[2021-03-31 22:14] pierosavi commented on #76
Hi do you still have that error?

[2021-03-31 22:17] pierosavi commented on #44
Hi, is this still not working?
It's an html img tag so it should work normally, that's weird
If you still can't load it can you check the browser console for errors?

[2021-04-01 00:32] kskenyon commented on #76
It won’t work with Safari but it does work with Chrome. Not sure what the problem is.

Kevin

Fatfingered from my iPhone

[2021-04-01 06:36] GarbatyGrabarz commented on #82
Debugging "resolved" the issue. It was the human error. I was shamelessly comparing loading time of a small database (events log) with sensor data collected every 30 seconds for a period of last 90 days. I have added a panel as you suggested and that had lead me to the discovery of my stupid error.

I have resolved my issue by setting a short time range since there is no graph involved and used cu

[2021-04-01 06:36] #82 closed

[2021-04-02 15:16] kskenyon commented on #76
Working OK now in Safari after latest updates to MacOS and Grafana.

Kevin

[2021-04-02 15:16] #76 closed

[2021-04-06 17:11] owbeg commented on #39
Hi guys,
I have modified 1.0.2 release of this pluging to use dasboard variables in Sensor name and Sensor link parameters
Actually it is less than 10 lines of code...

[2021-04-06 17:29] pierosavi commented on #39
@owbeg awesome, feel free to PR

[2021-04-06 17:31] owbeg commented on #39
it is patch to commit 43a89c1fd2e990710de69b0459f2e4901bb22cad ("Merge pull request #87 from pierosavi/improve-display-values") from 31 March 2021:

[code]

[2021-04-06 19:26] #39 closed

[2021-04-12 13:29] therealnickcheong commented on #74
I have the same issue using Amazon Timestream as my data source as well

[2021-04-13 21:51] GilesLesser commented on #42
Any update on the original feature request?
I'd love to use value mappings to display cardinal direction text (eg "N","NE","E","SE", etc) in place of directions in degrees. This is possible in other Grafana visualisation types by setting up (multiple) mappings of value ranges to text strings. I assume that if the OP's request was fullfilled that would satisfy my need too.

For example, there would

[2021-04-14 09:43] ellismendez commented on #70
+1 to multiple mappings for sensor. This would allow for something like green, yellow, red settings for different sensor ranges.

[2021-04-14 09:45] ellismendez commented on #30
+1 I need this variable to display different floor maps in a dynamic dashboard :) Thanks for the great plugin!

[2021-04-15 20:28] heliodor commented on #71
Same problem here: `Cannot read property 'toLocaleString' of undefined`. I'm using InfluxDB.

The value being formatted is `undefined`. Grafana's code doesn't handle `undefined`, only `null`. See attached screenshots from Chrome's console. I'll look into it further.

![Screen Shot 2021-04-15 at 4 26 15 PM](https://user-images.githubusercontent.com/395678/114934173-9368a300-9e07-11eb-9139-3a5cd5e97

[2021-04-17 00:43] heliodor commented on #71
Analysis:
Grafana's code doesn't handle the value `undefined`.
This means the plugin should handle it so that there will be no errors.

Based on the code at [lines 76-77 of ImageItPanel.tsx](https://github.com/pierosavi/pierosavi-imageit-panel/blob/cd6d89cee443858bc742b6fc1d58ba4d4d264acd/src/ImageItPanel.tsx#L76-L77), there are two ways to end up with a value of `undefined`:
1) If no data matches

[2021-04-20 03:57] heliodor commented on #44
Chrome may be to blame. It's partially blocking such urls and at some future version will block all of them:
https://medium.com/@lmakarov/say-goodbye-to-urls-with-embedded-credentials-b051f6c7b6a3

Check the dev console for a message related to this, if you're using Chrome.

[2021-04-20 04:40] smurfz commented on #44
I am using Chrome. The way I worked around this is to open the image URL on another browser tab. Chrome will ask to authenticate (user/pass popup). Once authenticated, the browser will assume authenticated, and the panel will be able to load the image. Of course, when you close the browser, you have to repeat. It's not ideal, but I generally have grafana open for  a long duration, so it's a small

[2021-04-22 20:12] jpavelw commented on #74
![image](https://user-images.githubusercontent.com/10341134/115779121-90c8f900-a385-11eb-90db-21c311c34856.png)
I am facing the same issue

[2021-05-19 09:35] vernazza commented on #70
Agree. I'm using this for temperature sensors and with the old version I had different levels with different colors, which made the situation clear with just a sight

[2021-05-19 10:11] vernazza commented on #42
Hi, I'm having the same problem with Grafana 7.x and plugin 1.0.3
My data is returned as a string (on/off), but I always get NaN, even if I select "Locale format".
Right now I'm using the valueBinary instead of value, that's returning an int (1/0), but showing the text would be great

[2021-05-19 10:24] vernazza opened #89 "Can't get mapping working"
I've a setup where I correcly get the values, but I can't have the mapping work.

This is my configuration for the sensor

[code]

This is the mapping

[code]

And this is the data I get

[code]

I would expect to see the tag becoming yellow, but even if it displays the correct value (1), the color is not applied

[2021-05-19 12:33] vernazza commented on #89
I found the problem: the compareTo value was set as a string, and I could not change that from the interface.
I edited the json and replaced
` "compareTo": "1",`
 with
`  "compareTo": 1,`

  and now it's working.

[2021-05-19 12:33] #89 closed

[2021-05-28 09:13] HenrikRolandHansen opened #90 "Add support for datasource Json plugin"
I have tried to use Json plugin to virtualize data in the nice imageit plugin but I'm not able to view any data. Not sure if the Json plugin is supported yet.?

This is the query inc. returned data.

{
  "request": {
    "url": "api/datasources/proxy/33/query",
    "data": {
      "app": "dashboard",
      "requestId": "Q109",
      "timezone": "browser",
      "panelId": 23763571993,
      "dashb

[2021-05-29 17:55] gerhard-tinned commented on #79
I Miss this feature Too!!!  Why was it removed?

[2021-05-29 17:58] gerhard-tinned commented on #45
Hi, I have a huge problem with the current version. I am basically doing the same thing but every color mapping is its own mapping but it seems I can only assign one mapping. ... how to achive the multiple color as explained here?

[2021-05-29 18:44] gerhard-tinned opened #91 "Upgrade from 0.1.3 to 1.0.3 - noting worked anymore"
**Describe the bug**
Its more a series of disapointments and problems I would consider bugs. But please correct me if those are not bugs.

After long time avoiding updating Grafana and its plugins as they broke nearly everithing, I desided to give it another shot. I was able to manage the general grafana upgrade to version 7.

First thing, the imageit plugin stopped working. An update brought me t

[2021-06-11 11:56] ThoWoKi opened #92 "Missing signature"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration --> Plugins'
2. Click on '....'
3. Scroll down to '....'
4. See error
pierosavi-imageit-panel - Missing signature

**Expected behavior**
Plugin needs to be updated to work with Grafana 8.0

**Screenshots**
If applicable, add screenshots to help explain

[2021-06-11 17:42] pierosavi commented on #92
Thank you, I pushed an update to Grafana review

[2021-06-15 10:50] ktoczyski commented on #74
I have also the same problem. My data sources clickhouse and Zabbix.

[2021-06-28 13:58] NunoRodr opened #95 "Not being able to see Reported Sensor Data in the appropriate space"
**Describe the bug**
I am not being able to see the sensor data even though I am receiving data from the datasource.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a query (Using Simple Json Datasource)
2. Transform Data to Last Non Null Value
3. Add Sensor and Reference Query ID (A or B or any)
4. No data is displayed

**Expected behavior**
Following the steps above it was expected to

[2021-07-06 07:45] fma-wizata opened #96 "Is Google BigQuery supported?"
Hi,

I have not been able to use your plugin with a data source connected to GBQ. I don't see any error, just no data. Is something more needed to make it work? I see the data in the table view (1 row with timestamp and value).

Also, some form of documentation would be greatly appreciated. Just one page, with a simple scenario to follow.

For the time being, I will use another plugin, ePict Panel

[2021-07-06 18:22] Guyverix opened #97 "Post upgrade no values shown"
**Describe the bug**
I upgraded Grafana, and reinstalled the plugin to go from scratch.  However now I have everything working except the plugin does not actually reflect any values.  It just says "no data" no matter what I do.  I suspect that the problem is the way I have this configured, not an actual bug in the plugin.

**To Reproduce**
Steps to reproduce the behavior:
1. upgrade grafana and re

[2021-07-07 18:18] Guyverix commented on #97
I was right.  this issue was cause by the way I had my configuration.  I had to remove the query ID and make sure my alias was the only identifier.  It almost looks like the query ID does not work as expected since it would never return a number, alias defined or not.

Thanks again for such a great plugin.   will close this out since there does not appear any configuration that needs to happen.

[2021-07-07 18:18] #97 closed

[2021-07-16 21:44] ChristopherChan123 opened #99 "Can't display strings"
Hey guys! I'm trying to display a non-numeric value from one of my queries as the live sensor data. I can get floats and numbers to work but whenever I pass in a string, the value always comes out as the number zero. I even tried to change the units formatting to "String" but the value still shows up as zero. I'm currently using my own Grafana Custom DataSource and I'm able to display live numeric

[2021-07-19 10:18] cfotnz commented on #70
@pierosavi can we have [this PR](https://github.com/pierosavi/pierosavi-imageit-panel/pull/98) released soon?

[2021-07-19 11:16] NunoRodr commented on #95
Further testing was done and found out that SimpleJson Datasource was not returning the refId for the query (at least for our version of the datasource).

In case someone face this problem in the future, please know this could be the issue.

[2021-07-19 11:16] #95 closed

[2021-07-20 18:28] ChristopherChan123 commented on #42
hey @pierosavi is there a reason why you added the line:

value = fieldDisplay.display.numeric;

on Line 93 in src/ImageItPanel.tsx?

I think this may be the reason why we cannot display string values in the current version of ImageIt. Let me know what you think.

Thanks!

[2021-07-21 19:46] pierosavi commented on #42
This feature is in v1.0.5, currently in review

[2021-07-21 19:47] pierosavi commented on #70
This feature is in the next version 1.0.5, currently in review by the grafana team, it usually takes a week to be reviewed and released

[2021-07-21 21:34] #92 closed

[2021-07-28 19:49] ChristopherChan123 commented on #42
Looking forward to it. Thank you very much!

[2021-08-06 18:22] #84 closed

[2021-08-09 21:12] WinFinn commented on #66
I've had this same issue now, and went through your steps setting all to none, and then enabling one by one. 22 sensors in total.
In the end I came to Data types of "kilbytes" and "megabytes" and those were the one causing problems. Actually all of the Unit types under Data/... causes issues. Also verified this with only one sensor, and might be easier to reproduce then.
However I was able to use

[2021-08-14 12:29] #70 closed

[2021-08-14 12:31] pierosavi commented on #42
1.0.5 is out, I'm closing this :)

[2021-08-14 12:31] #42 closed

[2021-10-04 20:38] GlobalCoder commented on #30
+1 This would be super helpful as well - using variables in the image URL would be fantastic.

[2021-11-09 02:17] jli113 opened #113 "3D models"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Supporting 3D formats, such as stl, obj, and others

**Describe alternatives you've considered**
Maybe supporting 3D model URL

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-11-19 18:10] #44 closed

[2021-11-22 17:08] address-ordinary commented on #86
I was very glad to find this plugin, but I just came across this issue too using InfluxDB Cloud as the data source. Any news on a fix?

[2021-12-05 15:17] #77 closed

[2021-12-05 15:17] #80 closed

[2021-12-30 13:50] rvdwijngaard opened #116 "Query Editor does not work with grafana v8.3.3"
**Describe the bug**
This plugin does not work on hosted grafana (which is currently on v8.3.3). Rendering of the image works fine but as soon as you open the query editor the browser hangs. After digging in the code I found there is an infinite loop.

The plugin works fine with grafana v8.2.x.

**To Reproduce**
Steps to reproduce the behavior:

first with grafana v.8.2.2
[code]
1. Create a new da

[2022-01-06 08:35] rvdwijngaard commented on #116
Hello @pierosavi is there any update on this? Is there anything I can do to help you to resolve this issue faster?

[2022-01-08 05:31] YutaSuzu opened #118 "Slow response when add Sensors and Mappings."
Dear pierosavi
Thank you for your great plugin for Grafana.
I'm starting to use Grafana v8.
But I have issue, would you consider it?

**Describe the bug**
Slow response when add Sensors and Mappings.
Entering one character causes the text box to lose focus.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sensors'
2. Click on 'ADD'
3. Typing Name

**Expected behavior**
low response and

[2022-01-09 15:54] pierosavi commented on #118
Hi, this is already fixed in development and will be in v1.0.6 soon

[2022-01-09 15:54] #118 closed

[2022-01-11 14:34] TobiasI2001 commented on #116
@rvdwijngaard

Hello, is there a solution to this issue?

I ran into the same problem and I cant seem to get it solved.

[2022-01-11 14:35] pierosavi commented on #116
@TobiasI2001 it's already fixed, update to latest version

[2022-01-11 14:35] #116 closed

[2022-01-11 14:36] TobiasI2001 commented on #116
@pierosavi  Thank you very much!

[2022-04-07 14:52] ellismendez opened #121 "Color Picker (Custom) not working"
**Describe the bug**
When trying to add a custom background or text color to a sensor or a mapping, the palette pop up windows closes every time we click on the "Custom" tab. So we are not able to add custom colors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Add Sensor or Mapping'
2. Click on 'Add New', then on "Open Color Picker"
3. Select the "Custom" tab
4. See error: The pale

[2022-04-22 11:48] jounathaen opened #122 "Question: Multiple sensors from a single query"
Hi,

First of all: Thanks for providing this plugin. I have a question on the usage of the plugin and despite this being out-of-maintenance, maybe somebody can help me:

### What I achieved

I have an image with 20 sensors. The sensor values come are stored in InfluxDB. What works for me, is creating 20 different queries and then referring to them as `Query ID`.

So my 20 Queries look like that:

[2022-05-11 09:25] KOCIU22 opened #124 "MappingID stop working"
**Describe the bug**
Mapping not working after upgrade plugin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'MappingIDs and add mapping name after click enter or add generate error like on screen below'

**Screenshots**

![image](https://user-images.githubusercontent.com/78568161/167815199-fc9a0083-1fc7-42ce-923a-82d70a07fa13.png)

**Grafana (please complete the following information

[2022-05-16 09:25] peishaofeng commented on #122
use "group by" will generate multiple series from one query clause

e.g.

[code]

[2022-05-16 09:28] jounathaen commented on #122
Thanks, but how to use this in imageit then?

[2022-05-19 02:26] peishaofeng commented on #122
A rendered example with data from InfluxDB

![imageit-air-temperature](https://user-images.githubusercontent.com/16284900/169188865-7c1c6449-2843-4693-a173-eec2357c40bb.png)

2 queries to generate multiple time-series data
![query-alias](https://user-images.githubusercontent.com/16284900/169189124-62891999-c2f6-4ae9-8f3a-306a3178fcba.png)

`GROUP BY "location"` will generate multiple series aliase

[2022-05-19 09:25] jounathaen commented on #122
Thanks a lot for the helpful answer! I'll try this!

[2022-05-19 09:25] #122 closed

[2022-06-14 13:36] rvdwijngaard commented on #124
I believe this problem is caused by an incompatibility of @grafana-sdk's. I think upgrading to the latest grafana dependencies (^8.5.5) will solve the problem

[2022-06-15 09:40] KOCIU22 commented on #124
Unfortunetly not working after upgrade to version 8.5.6 now relese grafana 9. It is a pity that the project will be abandoned and will not be developed, one of the best and functional plugins for me

[2022-06-15 09:50] rvdwijngaard commented on #124
Hi @KOCIU22, are we talking about the same thing? I meant an upgrade of the javascript dependencies to the latest version. I actually did upgrade it to 8.5.6 which solves the problem in my local environment.

It is indeed a pity this project is abandoned since it is still a very useful plugin. I just noticed my dashboards on hosted grafana are failing because they are now on grafana 9 which is not

[2022-06-15 10:36] KOCIU22 commented on #124
For me not working i upgrade java to latest version v16.15.1

[2022-08-12 00:48] leojrodrig commented on #124
Hi @KOCIU22 same error for Grafana v8.5.10. In order to continue using this excellent PlugIn, I edited the JSON, section "sensors"=>"mappingIds" I put (eg) "mappingIds": ["On","Off"],

[2022-08-12 11:27] KOCIU22 commented on #124
@leojrodrig thanks, it's working :). Maybe someone from grafana can make plugin like this :)